Repository jonahmakowski/PyWrskp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_package, generate_docs

.gitlab-ci.yml:

stages:
 - distribute
 - docs

github_commit:
  image: alpine:latest
  stage: distribute
  variables:
    GIT_DEPTH: 0
  script:
    - apk add git tar ca-certificates
    - update-ca-certificates
    - mkdir -p build/copy_for_github
    - tar --exclude='build' -cf - -C . . | tar -xf - -C build/copy_for_github
    - cd build/copy_for_github
    - git config user.name "GitLab CI"
    - git config user.email "jonah@makowski.ca"
    - git checkout main
    - git remote set-url origin "https://jonahmakowski:$GITHUB_PASSWORD@github.com/jonahmakowski/pyWrskp.git"
    - git config pull.rebase false
    - git pull
    - git push

build_package:
  image: python:alpine
  stage: distribute
  variables:
    TWINE_USERNAME: gitlab-ci-token
    TWINE_PASSWORD: $CI_JOB_TOKEN
  script:
    - cd src/helpfulPackage
    - pip install --upgrade pip
    - pip install setuptools wheel
    - python setup.py bdist_wheel sdist
    - pip install .[dev]
    - twine check dist/*
    - twine upload --repository-url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi dist/*
  rules:
    - changes:
      - src/helpfulPackage/setup.py
  artifacts:
    paths:
      - src/helpfulPackage/dist
    expire_in: 1 day

generate_docs:
  image: python:alpine
  stage: docs
  timeout: 5h # Increase timeout to 5 hours
  variables:
    GIT_DEPTH: 0
  before_script:
    - pip install ollama
    - apk add git
  script:
    - python src/docGeneration/generate.py  # Runs AI-powered doc generation
    - |
      # Check if there are any changes
      git config --global user.email "gitlab-ci@localhost"
      git config --global user.name "GitLab CI Docs Bot"
      git add docs/
      if ! git diff --cached --quiet; then
        git checkout main
        git remote set-url origin "http://gitlab_ci_token:${DOCS_KEY}@192.168.86.4:8929/jonahmakowski/pyWrskp.git"
        git pull
        git commit -m "ðŸ¤– Auto-generate docs for latest changes"
        git push
      else
        echo "No changes to commit."
      fi
  rules:
    - changes:
        - "**/*.py"  # Runs only when Python files change

I need this as well.
  .gitlab-ci.yml
Due: none

Did the day 4 challange
  src/adventOfCode/day4/puzzle2.py
Due: generate_docs

Fix for the doc generation
  .gitlab-ci.yml
Due: none

Made the list -> str function more useful
  .gitlab-ci.yml
  src/helpfulPackage/app/pyWrkspPackage/variable_management.py
  src/helpfulPackage/setup.py
Due: build_package, generate_docs

Added documentation for the new feature
  src/helpfulPackage/app/pyWrkspPackage/variable_management.py
  src/helpfulPackage/setup.py
Due: build_package, generate_docs

Added a pull here
  .gitlab-ci.yml
Due: none

Fixed this in case a file doesn't exist
  src/docGeneration/generate.py
Due: generate_docs

Finished the first puzzle
  src/adventOfCode/day5/input.txt
  src/adventOfCode/day5/puzzle1.py
Due: generate_docs

🤖 Auto-generate docs for latest changes
  docs/ai_docs/adventOfCode/day5/puzzle1.md
  docs/ai_docs/doc_generation/generate.md
  docs/ai_docs/schoolpython/grade9/math_helper.md
  docs/ai_docs/schoolpython/grade9/scientific_notation.md
Due: none

Added installation documentation
  src/helpfulPackage/app/README.md
Due: none

Added numbering to the logs
  src/docGeneration/generate.py
Due: generate_docs

🤖 Auto-generate docs for latest changes
  docs/ai_docs/docGeneration/generate.md
Due: none

Solved day 5
  src/adventOfCode/day5/puzzle2.py
Due: generate_docs

Added documentation
  src/adventOfCode/day5/puzzle2.py
Due: generate_docs

🤖 Auto-generate docs for latest changes
  docs/ai_docs/adventOfCode/day5/puzzle2.md
Due: none

Solved puzzle 1 of day 6
  src/adventOfCode/day6/input.txt
  src/adventOfCode/day6/puzzle1.py
Due: generate_docs

🤖 Auto-generate docs for latest changes
  docs/ai_docs/adventOfCode/day6/puzzle1.md
Due: none

Added docs to this file
  src/adventOfCode/day6/puzzle1.py
Due: generate_docs
