Repository jonahmakowski/PyWrskp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_package, generate_docs

.gitlab-ci.yml:

stages:
 - distribute
 - docs

github_commit:
  image: alpine:latest
  stage: distribute
  variables:
    GIT_DEPTH: 0
  script:
    - apk add git tar ca-certificates
    - update-ca-certificates
    - mkdir -p build/copy_for_github
    - tar --exclude='build' -cf - -C . . | tar -xf - -C build/copy_for_github
    - cd build/copy_for_github
    - git config user.name "GitLab CI"
    - git config user.email "jonah@makowski.ca"
    - git checkout main
    - git remote set-url origin "https://jonahmakowski:$GITHUB_PASSWORD@github.com/jonahmakowski/pyWrskp.git"
    - git config pull.rebase false
    - git pull
    - git push

build_package:
  image: python:alpine
  stage: distribute
  variables:
    TWINE_USERNAME: gitlab-ci-token
    TWINE_PASSWORD: $CI_JOB_TOKEN
  script:
    - cd src/helpfulPackage
    - pip install --upgrade pip
    - pip install setuptools wheel
    - python setup.py bdist_wheel sdist
    - pip install .[dev]
    - twine check dist/*
    - twine upload --repository-url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi dist/*
  rules:
    - changes:
      - src/helpfulPackage/setup.py
  artifacts:
    paths:
      - src/helpfulPackage/dist
    expire_in: 1 day

generate_docs:
  image: python:alpine
  stage: docs
  timeout: 5h # Increase timeout to 5 hours
  variables:
    GIT_DEPTH: 0
  before_script:
    - pip install ollama
    - apk add git
  script:
    - python src/docGeneration/generate.py  # Runs AI-powered doc generation
    - |
      # Check if there are any changes
      git config --global user.email "gitlab-ci@localhost"
      git config --global user.name "GitLab CI Docs Bot"
      git add docs/
      if ! git diff --cached --quiet; then
        git checkout main
        git remote set-url origin "http://gitlab_ci_token:${DOCS_KEY}@192.168.86.4:8929/jonahmakowski/pyWrskp.git"
        git pull
        git commit -m "ðŸ¤– Auto-generate docs for latest changes"
        git push
      else
        echo "No changes to commit."
      fi
  rules:
    - changes:
        - "**/*.py"  # Runs only when Python files change

Joined all voice assistant files under one folder.
  src/voiceAssistants/original_command_execution/mac_command_execution.py
  src/voiceAssistants/voiceAssistant/README.md
  src/voiceAssistants/voiceAssistant/__init__.py
  src/voiceAssistants/voiceAssistant/audio/__init__.py
  src/voiceAssistants/voiceAssistant/audio/speaking.py
  src/voiceAssistants/voiceAssistant/audio/voiceRecognition.py
  src/voiceAssistants/voiceAssistant/commands/__init__.py
  src/voiceAssistants/voiceAssistant/commands/mac/__init__.py
  src/voiceAssistants/voiceAssistant/commands/mac/appUtils.py
  src/voiceAssistants/voiceAssistant/commands/mac/openApp.py
  src/voiceAssistants/voiceAssistant/commands/mac/openDirectoryInFiles.py
  src/voiceAssistants/voiceAssistant/commands/mac/openFile.py
  src/voiceAssistants/voiceAssistant/commands/mac/playPause.py
  src/voiceAssistants/voiceAssistant/commands/mac/runTerminalCommand.py
  src/voiceAssistants/voiceAssistant/commands/webBrowser.py
  src/voiceAssistants/voiceAssistant/details.txt
  src/voiceAssistants/voiceAssistant/helpers/__init__.py
  src/voiceAssistants/voiceAssistant/helpers/getDetails.py
  src/voiceAssistants/voiceAssistant/helpers/removeKeyword.py
  src/voiceAssistants/voiceAssistant/llama_ai.py
  src/voiceAssistants/voiceAssistant/main.py
Due: generate_docs

🤖 Auto-generate docs for latest changes
  docs/ai_docs/newVoiceAssistant/commands/mac/openApp.md
  docs/ai_docs/newVoiceAssistant/main.md
  docs/ai_docs/voiceAssistants/original_command_execution/mac_command_execution.md
  docs/ai_docs/voiceAssistants/voiceAssistant/__init__.md
  docs/ai_docs/voiceAssistants/voiceAssistant/audio/__init__.md
  docs/ai_docs/voiceAssistants/voiceAssistant/audio/speaking.md
  docs/ai_docs/voiceAssistants/voiceAssistant/audio/voiceRecognition.md
  docs/ai_docs/voiceAssistants/voiceAssistant/commands/__init__.md
  docs/ai_docs/voiceAssistants/voiceAssistant/commands/mac/__init__.md
  docs/ai_docs/voiceAssistants/voiceAssistant/commands/mac/appUtils.md
  docs/ai_docs/voiceAssistants/voiceAssistant/commands/mac/openApp.md
  docs/ai_docs/voiceAssistants/voiceAssistant/commands/mac/openDirectoryInFiles.md
  docs/ai_docs/voiceAssistants/voiceAssistant/commands/mac/openFile.md
  docs/ai_docs/voiceAssistants/voiceAssistant/commands/mac/playPause.md
  docs/ai_docs/voiceAssistants/voiceAssistant/commands/mac/runTerminalCommand.md
  docs/ai_docs/voiceAssistants/voiceAssistant/commands/webBrowser.md
  docs/ai_docs/voiceAssistants/voiceAssistant/helpers/__init__.md
  docs/ai_docs/voiceAssistants/voiceAssistant/helpers/getDetails.md
  docs/ai_docs/voiceAssistants/voiceAssistant/helpers/removeKeyword.md
  docs/ai_docs/voiceAssistants/voiceAssistant/llama_ai.md
  docs/ai_docs/voiceAssistants/voiceAssistant/main.md
Due: none

Added a couple of useful functions to the package
  src/helpfulPackage/app/pyWrkspPackage/misc.py
  src/helpfulPackage/setup.py
Due: build_package, generate_docs

subprocess isn't required there
  src/helpfulPackage/setup.py
Due: build_package, generate_docs

🤖 Auto-generate docs for latest changes
  docs/ai_docs/helpfulPackage/setup.md
Due: none

Started work on the new voice assistant
  src/helpfulPackage/app/pyWrkspPackage/misc.py
  src/helpfulPackage/setup.py
  src/voiceAssistants/newVoiceAssistant/actions.py
  src/voiceAssistants/newVoiceAssistant/main.py
Due: build_package, generate_docs

🤖 Auto-generate docs for latest changes
  docs/ai_docs/helpfulPackage/app/pyWrkspPackage/misc.md
  docs/ai_docs/helpfulPackage/setup.md
  docs/ai_docs/voiceAssistants/newVoiceAssistant/actions.md
  docs/ai_docs/voiceAssistants/newVoiceAssistant/main.md
Due: none

Work from a while ago with advent of code
  src/adventOfCode/day6/puzzle2.py
Due: generate_docs

Couple of updates to the package
  src/helpfulPackage/app/pyWrkspPackage/misc.py
  src/helpfulPackage/app/pyWrkspPackage/variable_management.py
  src/helpfulPackage/setup.py
Due: build_package, generate_docs

More work on the new voice assistant
  src/voiceAssistants/newVoiceAssistant/audio.mp3
  src/voiceAssistants/newVoiceAssistant/main.py
  src/voiceAssistants/newVoiceAssistant/prompt.md
  src/voiceAssistants/newVoiceAssistant/wakeword_example.py
Due: generate_docs

🤖 Auto-generate docs for latest changes
  docs/ai_docs/voiceAssistants/newVoiceAssistant/main.md
  docs/ai_docs/voiceAssistants/newVoiceAssistant/wakeword_example.md
Due: none

Screwed this up in the last update
  src/helpfulPackage/app/pyWrkspPackage/misc.py
  src/helpfulPackage/setup.py
Due: build_package, generate_docs

🤖 Auto-generate docs for latest changes
  docs/ai_docs/helpfulPackage/app/pyWrkspPackage/misc.md
  docs/ai_docs/helpfulPackage/setup.md
Due: none

Another quick fix
  src/helpfulPackage/app/pyWrkspPackage/misc.py
  src/helpfulPackage/setup.py
Due: build_package, generate_docs

Quick fix
  src/helpfulPackage/app/pyWrkspPackage/variable_management.py
  src/helpfulPackage/setup.py
Due: build_package, generate_docs

🤖 Auto-generate docs for latest changes
  docs/ai_docs/helpfulPackage/app/pyWrkspPackage/variable_management.md
  docs/ai_docs/helpfulPackage/setup.md
Due: none

Trying to fix a problem with the terminal command function
  src/helpfulPackage/app/pyWrkspPackage/misc.py
  src/helpfulPackage/setup.py
Due: build_package, generate_docs

Made the voice assistant able to do some actions
  src/voiceAssistants/newVoiceAssistant/actions.py
  src/voiceAssistants/newVoiceAssistant/main.py
  src/voiceAssistants/newVoiceAssistant/prompt.md
  src/voiceAssistants/newVoiceAssistant/speaking_test.py
Due: generate_docs
