Repository jonahmakowski/PyWrskp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_package, generate_docs

Path conditions:
  build_package: any of: src/helpfulPackage/setup.py
  generate_docs: any of: **/*.py, **/*.gd

Removed a command that was causing errors
  .gitlab-ci.yml
Due: none

🤖 Auto-generated Modifications and Docs for latest changes
  black_changes.patch
  src/voiceAssistants/newVoiceAssistant/google_calendar.py
  src/voiceAssistants/newVoiceAssistant/main.py
  src/voiceAssistants/newVoiceAssistant/spotify.py
Due: generate_docs

I did it again... Same error
  .gitlab-ci.yml
Due: none

Add rules to python_black job and improve error handling in commit_and_push stage
  .gitlab-ci.yml
Due: none

Delete black_changes.patch
  black_changes.patch
Due: none

Remove the patch files after applying them
  .gitlab-ci.yml
Due: none

Set remote URL for GitLab in commit_and_push stage with error handling
  .gitlab-ci.yml
Due: none

Add threading helper functions for concurrent execution and dynamic imports
  src/helpfulPackage/app/pyWrkspPackage/__init__.py
  src/helpfulPackage/app/pyWrkspPackage/threading_help.py
Due: generate_docs

🤖 Auto-generated Modifications and Docs for latest changes
  black_changes.patch
  docs/ai_docs/helpfulPackage/app/pyWrkspPackage/__init__.md
  docs/ai_docs/helpfulPackage/app/pyWrkspPackage/threading_help.md
  docs/ai_docs/voiceAssistants/newVoiceAssistant/google_calendar_api.md
  docs/ai_docs/voiceAssistants/newVoiceAssistant/spotify_actions.md
  docs/ai_docs/voiceAssistants/newVoiceAssistant/spotify_runner.md
  src/helpfulPackage/app/pyWrkspPackage/threading_help.py
Due: generate_docs

🤖 Auto-generated Modifications and Docs for latest changes
  black_changes.patch
  docs/ai_docs/helpfulPackage/app/pyWrkspPackage/threading_help.md
Due: none

Want this
  src/helpfulPackage/app/pyWrkspPackage/threading_help.py
Due: generate_docs

Forgot to do this in the last commit
  src/helpfulPackage/setup.py
Due: build_package, generate_docs

🤖 Auto-generated Modifications and Docs for latest changes
  black_changes.patch
  docs/ai_docs/helpfulPackage/setup.md
Due: none

🤖 Auto-generated Modifications and Docs for latest changes
  docs/ai_docs/helpfulPackage/setup.md
Due: none

Bump version to 0.6.1 and remove unused import in threading_help.py
  src/helpfulPackage/app/pyWrkspPackage/threading_help.py
  src/helpfulPackage/setup.py
Due: build_package, generate_docs

Made a simple programing lanugage from scratch.
  src/programmingLanguage/commands.py
  src/programmingLanguage/errors.py
  src/programmingLanguage/example.jonahscript
  src/programmingLanguage/parser.py
  src/programmingLanguage/text.txt
Due: generate_docs

🤖 Auto-generated Modifications and Docs for latest changes
  black_changes.patch
  docs/ai_docs/programmingLanguage/commands.md
  docs/ai_docs/programmingLanguage/errors.md
  docs/ai_docs/programmingLanguage/parser.md
  src/programmingLanguage/commands.py
  src/programmingLanguage/errors.py
  src/programmingLanguage/parser.py
Due: generate_docs

Add script to extract properties from Obsidian notes and push to MySQL
  src/obsidianDataSQL/obisidian_to_SQL.py
Due: generate_docs

Refactor CI configuration and remove obsolete black_changes.patch file
  .gitlab-ci.yml
  black_changes.patch
Due: none
