Repository jonahmakowski/PyWrskp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: python_formatter, rust_formatter, formatter_cleanup, build_package, generate_docs

python_formatter:
  image: python:alpine
  stage: format
  before_script:
  - pip install black
  - apk add --no-cache git
  - git config --global user.email "gitlab-ci@localhost"
  - git config --global user.name "GitLab CI"
  script:
  - git checkout main
  ...

rust_formatter:
  image: rust:alpine
  stage: format
  script:
  - apk add --no-cache git
  - git checkout main
  - git remote set-url origin "http://gitlab_ci_token:${DOCS_KEY}@192.168.86.9:8929/jonahmakowski/pyWrskp.git"
  - git config pull.rebase false
  - git pull origin main
  - cd src/rust/rust_formatter
  ...

formatter_cleanup:
  image: alpine
  stage: cleanup
  script:
  - echo "Cleaning up artifacts..."
  ...

build_package:
  image: python:alpine
  stage: build
  variables:
    TWINE_USERNAME: gitlab-ci-token
    TWINE_PASSWORD: $CI_JOB_TOKEN
  script:
  - cd src/helpfulPackage
  - pip install --upgrade pip
  - pip install setuptools wheel twine
  - python setup.py bdist_wheel sdist
  - pip install .[dev]
  - twine check dist/*
  ...

generate_docs:
  image: python:alpine
  stage: docs
  variables:
    GIT_DEPTH: 4
  before_script:
  - pip install requests
  - pip install --upgrade pyWrkspPackage --trusted-host 192.168.86.9 --index-url http://192.168.86.9:8929/api/v4/projects/4/packages/pypi/simple
  - apk add --no-cache git
  script:
  ...

🤖 Auto-generated Modifications and Docs for latest changes [skip ci]
  src/rust/minigrep/src/lib.rs
  src/rust/minigrep/src/main.rs
Due: rust_formatter, formatter_cleanup, generate_docs

Initialize chess_system with basic structure and board setup
  src/rust/chess_system/Cargo.lock
  src/rust/chess_system/Cargo.toml
  src/rust/chess_system/src/lib.rs
  src/rust/chess_system/src/main.rs
  src/rust/chess_system/src/tests.rs
  src/rust/chess_system/src/types.rs
Due: rust_formatter, formatter_cleanup, generate_docs

🤖 Auto-generated Modifications and Docs for latest changes [skip ci]
  src/rust/chess_system/src/tests.rs
  src/rust/chess_system/src/types.rs
Due: rust_formatter, formatter_cleanup, generate_docs

Add tests for board empty position and location retrieval
  src/rust/chess_system/src/tests.rs
  src/rust/chess_system/src/types.rs
Due: rust_formatter, formatter_cleanup, generate_docs

Enhance chess game logic and input handling
  src/rust/chess_system/src/main.rs
  src/rust/chess_system/src/tests.rs
  src/rust/chess_system/src/types.rs
Due: rust_formatter, formatter_cleanup, generate_docs

🤖 Auto-generated Modifications and Docs for latest changes [skip ci]
  src/rust/chess_system/src/main.rs
  src/rust/chess_system/src/tests.rs
  src/rust/chess_system/src/types.rs
Due: rust_formatter, formatter_cleanup, generate_docs

Refactor chess piece movement logic and enhance valid move checks
  src/rust/chess_system/src/types.rs
Due: rust_formatter, formatter_cleanup, generate_docs

Initialize Flask application and set up basic routing
  src/websites/costcoReceipt/app/__init__.py
  src/websites/costcoReceipt/app/routes.py
  src/websites/costcoReceipt/app/templates/home.html
  src/websites/costcoReceipt/my_app.py
Due: python_formatter, formatter_cleanup, generate_docs

Made a simple cli todo tool
  src/rust/todo_project/Cargo.lock
  src/rust/todo_project/Cargo.toml
  src/rust/todo_project/data.json
  src/rust/todo_project/src/config.rs
  src/rust/todo_project/src/functions.rs
  src/rust/todo_project/src/main.rs
  src/rust/todo_project/src/types.rs
Due: rust_formatter, formatter_cleanup, generate_docs

🤖 Auto-generated Modifications and Docs for latest changes [skip ci]
  src/rust/chess_system/src/types.rs
  src/rust/todo_project/src/config.rs
  src/rust/todo_project/src/functions.rs
  src/rust/todo_project/src/main.rs
  src/rust/todo_project/src/types.rs
Due: rust_formatter, formatter_cleanup, generate_docs

Made a simple library for myself
  src/rust/simple_lib/Cargo.lock
  src/rust/simple_lib/Cargo.toml
  src/rust/simple_lib/readme.md
  src/rust/simple_lib/src/input.rs
  src/rust/simple_lib/src/lib.rs
Due: rust_formatter, formatter_cleanup, generate_docs

🤖 Auto-generated Modifications and Docs for latest changes [skip ci]
  src/rust/simple_lib/src/input.rs
Due: rust_formatter, formatter_cleanup, generate_docs

Bump version to 0.1.1 and update input module visibility
  src/rust/simple_lib/Cargo.lock
  src/rust/simple_lib/Cargo.toml
  src/rust/simple_lib/src/input.rs
  src/rust/simple_lib/src/lib.rs
Due: rust_formatter, formatter_cleanup, generate_docs

🤖 Auto-generated Modifications and Docs for latest changes [skip ci]
  docs/ai_docs/rust/simple_lib/src/input.rs.md
  docs/ai_docs/rust/simple_lib/src/lib.rs.md
Due: none

Add simple_lib as a dependency and improve task listing and input handling
  src/rust/todo_project/Cargo.lock
  src/rust/todo_project/Cargo.toml
  src/rust/todo_project/src/functions.rs
Due: rust_formatter, formatter_cleanup, generate_docs

🤖 Auto-generated Modifications and Docs for latest changes [skip ci]
  docs/ai_docs/rust/simple_lib/src/input.rs.md
  docs/ai_docs/rust/simple_lib/src/lib.rs.md
  docs/ai_docs/rust/todo_project/src/functions.rs.md
Due: none

Add .forgejo/workflows/python_formatter.yaml
  .forgejo/workflows/python_formatter.yaml
Due: none

Update .forgejo/workflows/python_formatter.yaml
  .forgejo/workflows/python_formatter.yaml
Due: none

Add .forgejo/workflows/rust_formatter.yaml
  .forgejo/workflows/rust_formatter.yaml
Due: none

Update .forgejo/workflows/rust_formatter.yaml
  .forgejo/workflows/rust_formatter.yaml
Due: none

Path conditions:
  python_formatter: any of: **/*.py
  rust_formatter: any of: **/*.rs, **/Cargo.toml
  formatter_cleanup: any of: **/*.py, **/*.rs, **/Cargo.toml
  build_package: any of: src/helpfulPackage/setup.py
  generate_docs: any of: **/*.py, **/*.gd, **/*.cpp, **/*.rs
