Repository jonahmakowski/PyWrskp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: python_black, build_package, generate_docs

Path conditions:
  python_black: any of: **/*.py
  build_package: any of: src/helpfulPackage/setup.py
  generate_docs: any of: **/*.py, **/*.gd

Add box scene and script for collision handling
  src/godot/platformer/scenes/box.tscn
  src/godot/platformer/scenes/main.tscn
  src/godot/platformer/scripts/box.gd
Due: generate_docs

Add initial implementation of chess bot with board and piece structures
  src/rust/chess_bot/Cargo.lock
  src/rust/chess_bot/Cargo.toml
  src/rust/chess_bot/src/board.rs
  src/rust/chess_bot/src/main.rs
Due: none

Add audio playback and speech recognition functionality with helper methods
  src/schoolRelated/techSummative/audio/audio.mp3
  src/schoolRelated/techSummative/audio/bootup.mp3
  src/schoolRelated/techSummative/helper.py
  src/schoolRelated/techSummative/main.py
Due: python_black, generate_docs

Refactor clipboard command to use read_clipboard instead of paste
  src/voiceAssistants/newVoiceAssistant/main.py
Due: python_black, generate_docs

🤖 Auto-generated Modifications and Docs for latest changes
  src/rust/chess_bot/src/board.rs
  src/schoolRelated/techSummative/helper.py
  src/schoolRelated/techSummative/main.py
Due: python_black, generate_docs

Add weather and Spotify functionality with time and temperature commands
  src/schoolRelated/techSummative/actions.py
  src/schoolRelated/techSummative/helper.py
  src/schoolRelated/techSummative/main.py
  src/schoolRelated/techSummative/spotify.py
  src/schoolRelated/techSummative/weather_get.py
Due: python_black, generate_docs

Add new game objects and mechanics for platformer
  src/godot/platformer/objects/box.tscn
  src/godot/platformer/objects/character.tscn
  src/godot/platformer/objects/death_zone.tscn
  src/godot/platformer/objects/door.tscn
  src/godot/platformer/objects/enemy.tscn
  src/godot/platformer/objects/platform.tscn
  src/godot/platformer/project.godot
  src/godot/platformer/scenes/controller.tscn
  src/godot/platformer/scenes/main_2.tscn
  src/godot/platformer/scripts/controller.gd
  src/godot/platformer/scripts/door.gd
Due: generate_docs

🤖 Auto-generated Modifications and Docs for latest changes
  src/schoolRelated/techSummative/actions.py
  src/schoolRelated/techSummative/main.py
  src/schoolRelated/techSummative/spotify.py
Due: python_black, generate_docs

Add summary generation and audio processing features
  src/schoolRelated/missionInnovation/generate_summary.py
  src/schoolRelated/missionInnovation/main.py
  src/schoolRelated/missionInnovation/requirements.txt
  src/schoolRelated/techSummative/main.py
  src/schoolRelated/techSummative/requirements.txt
  src/voiceAssistants/newVoiceAssistant/speaking_test.py
Due: python_black, generate_docs

Update README.md to correct local network URLs for package installation
  src/helpfulPackage/app/README.md
Due: none

🤖 Auto-generated Modifications and Docs for latest changes
  src/schoolRelated/missionInnovation/generate_summary.py
  src/schoolRelated/missionInnovation/main.py
  src/schoolRelated/techSummative/main.py
  src/voiceAssistants/newVoiceAssistant/speaking_test.py
Due: python_black, generate_docs

feat: Implement new game mechanics and UI elements
  src/godot/platformer/assets/fonts/PixelOperator8-Bold.ttf
  src/godot/platformer/assets/fonts/PixelOperator8-Bold.ttf.import
  src/godot/platformer/assets/fonts/PixelOperator8.ttf
  src/godot/platformer/assets/fonts/PixelOperator8.ttf.import
  src/godot/platformer/export_presets.cfg
  src/godot/platformer/objects/box.tscn
  src/godot/platformer/objects/button.tscn
  src/godot/platformer/objects/character.tscn
  src/godot/platformer/objects/coin.tscn
  src/godot/platformer/objects/display_coins.tscn
  src/godot/platformer/objects/door.tscn
  src/godot/platformer/objects/key.tscn
  src/godot/platformer/objects/spike.tscn
  src/godot/platformer/project.godot
  src/godot/platformer/scenes/main.tscn
  src/godot/platformer/scripts/box.gd
  src/godot/platformer/scripts/button.gd
  src/godot/platformer/scripts/character.gd
  src/godot/platformer/scripts/coin.gd
  src/godot/platformer/scripts/controller.gd
  src/godot/platformer/scripts/death_zone.gd
  src/godot/platformer/scripts/door.gd
  src/godot/platformer/scripts/key.gd
  src/godot/platformer/scripts/label.gd
Due: generate_docs

refactor: Comment out unused imports and code for clarity
  src/schoolRelated/techSummative/helper.py
Due: python_black, generate_docs

🤖 Auto-generated Modifications and Docs for latest changes
  src/schoolRelated/techSummative/helper.py
Due: python_black, generate_docs

About to update textures
  src/godot/platformer/assets/LisgarGameTileset1.png
  src/godot/platformer/assets/LisgarGameTileset1.png.import
  src/godot/platformer/assets/LisgarGameTileset2.png
  src/godot/platformer/assets/LisgarGameTileset2.png.import
  src/godot/platformer/objects/door.tscn
  src/godot/platformer/project.godot
  src/godot/platformer/scenes/clock.tscn
  src/godot/platformer/scenes/main.tscn
  src/godot/platformer/scenes/main_2.tscn
  src/godot/platformer/scripts/button.gd
  src/godot/platformer/scripts/door.gd
  src/godot/platformer/scripts/timer.gd
Due: generate_docs

Removed illegal words
  src/wordleSolver/five_letter_words.txt
Due: none
