Repository jonahmakowski/PyWrskp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: python_formatter, rust_formatter, formatter_cleanup, build_package, generate_docs

Path conditions:
  python_formatter: any of: **/*.py
  rust_formatter: any of: **/*.rs, **/Cargo.toml
  formatter_cleanup: any of: **/*.py, **/*.rs, **/Cargo.toml
  build_package: any of: src/helpfulPackage/setup.py
  generate_docs: any of: **/*.py, **/*.gd, **/*.cpp, **/*.rs

Update .forgejo/workflows/rust_formatter.yaml
  .forgejo/workflows/rust_formatter.yaml
Due: none

Add .forgejo/workflows/build_package.yaml
  .forgejo/workflows/build_package.yaml
Due: none

Update .forgejo/workflows/build_package.yaml
  .forgejo/workflows/build_package.yaml
Due: none

Updated the install information for forgejo repo
  src/helpfulPackage/app/README.md
  src/helpfulPackage/setup.py
Due: python_formatter, formatter_cleanup, build_package, generate_docs

Working on advent of code
  src/rust/advent_of_code_2025/day_1/Cargo.lock
  src/rust/advent_of_code_2025/day_1/Cargo.toml
  src/rust/advent_of_code_2025/day_1/input.txt
  src/rust/advent_of_code_2025/day_1/src/main.rs
  src/rust/advent_of_code_2025/day_1_pt2/Cargo.lock
  src/rust/advent_of_code_2025/day_1_pt2/Cargo.toml
  src/rust/advent_of_code_2025/day_1_pt2/input.txt
  src/rust/advent_of_code_2025/day_1_pt2/src/main.rs
  src/rust/advent_of_code_2025/day_2/Cargo.lock
  src/rust/advent_of_code_2025/day_2/Cargo.toml
  src/rust/advent_of_code_2025/day_2/input.txt
  src/rust/advent_of_code_2025/day_2/src/main.rs
  src/rust/advent_of_code_2025/day_2_pt2/Cargo.lock
  src/rust/advent_of_code_2025/day_2_pt2/Cargo.toml
  src/rust/advent_of_code_2025/day_2_pt2/input.txt
  src/rust/advent_of_code_2025/day_2_pt2/src/main.rs
Due: rust_formatter, formatter_cleanup, generate_docs

🤖 Auto-format Rust code
  src/rust/advent_of_code_2025/day_1/src/main.rs
  src/rust/advent_of_code_2025/day_1_pt2/src/main.rs
  src/rust/advent_of_code_2025/day_2/src/main.rs
  src/rust/advent_of_code_2025/day_2_pt2/src/main.rs
Due: rust_formatter, formatter_cleanup, generate_docs

Made an implementation simpler
  src/rust/simple_lib/Cargo.lock
  src/rust/simple_lib/Cargo.toml
  src/rust/simple_lib/src/input.rs
Due: rust_formatter, formatter_cleanup, generate_docs

Working more on advent of code
  src/rust/advent_of_code_2025/day_2_pt2/src/main.rs
  src/rust/advent_of_code_2025/day_3/Cargo.lock
  src/rust/advent_of_code_2025/day_3/Cargo.toml
  src/rust/advent_of_code_2025/day_3/input.txt
  src/rust/advent_of_code_2025/day_3/src/main.rs
  src/rust/advent_of_code_2025/day_3_pt_2/Cargo.lock
  src/rust/advent_of_code_2025/day_3_pt_2/Cargo.toml
  src/rust/advent_of_code_2025/day_3_pt_2/input.txt
  src/rust/advent_of_code_2025/day_3_pt_2/src/main.rs
Due: rust_formatter, formatter_cleanup, generate_docs

🤖 Auto-format Rust code
  src/rust/advent_of_code_2025/day_2_pt2/src/main.rs
  src/rust/advent_of_code_2025/day_3/src/main.rs
  src/rust/advent_of_code_2025/day_3_pt_2/src/main.rs
Due: rust_formatter, formatter_cleanup, generate_docs

Working on a small rust project
  src/rust/file_manipulation/Cargo.lock
  src/rust/file_manipulation/Cargo.toml
  src/rust/file_manipulation/src/config.rs
  src/rust/file_manipulation/src/main.rs
  src/rust/file_manipulation/src/search.rs
  src/rust/simple_lib/Cargo.lock
  src/rust/simple_lib/Cargo.toml
Due: rust_formatter, formatter_cleanup, generate_docs

🤖 Auto-format Rust code
  src/rust/file_manipulation/src/config.rs
  src/rust/file_manipulation/src/main.rs
  src/rust/file_manipulation/src/search.rs
Due: rust_formatter, formatter_cleanup, generate_docs

Update .forgejo/workflows/python_formatter.yaml
  .forgejo/workflows/python_formatter.yaml
Due: none

CCC stuff from last week
  src/CCC-prep/Positioning Peter’s Paintings/main.py
  src/wordleSolver/five_letter_words.txt
Due: python_formatter, formatter_cleanup, generate_docs

🤖 Auto-format Python code
  src/CCC-prep/Positioning Peter’s Paintings/main.py
Due: python_formatter, formatter_cleanup, generate_docs

Removed old .github folder
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/other-issues.md
Due: none
