Repository jonahmakowski/PyWrskp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: python_black, build_package, generate_docs

python_black:
  image: python:alpine
  stage: format
  before_script:
  - pip install black
  script:
  - apk add --no-cache git
  - git checkout main
  - git remote set-url origin "http://gitlab_ci_token:${DOCS_KEY}@192.168.86.4:8929/jonahmakowski/pyWrskp.git"
  - git pull
  - echo "Running Black for code formatting..."
  ...

build_package:
  image: python:alpine
  stage: build
  variables:
    TWINE_USERNAME: gitlab-ci-token
    TWINE_PASSWORD: $CI_JOB_TOKEN
  script:
  - cd src/helpfulPackage
  - pip install --upgrade pip
  - pip install setuptools wheel
  - python setup.py bdist_wheel sdist
  - pip install .[dev]
  - twine check dist/*
  ...

generate_docs:
  image: python:alpine
  stage: docs
  variables:
    GIT_DEPTH: 0
  before_script:
  - pip install openai
  - pip install --upgrade pyWrkspPackage --trusted-host 192.168.86.4 --index-url http://192.168.86.4:8929/api/v4/projects/4/packages/pypi/simple
  - apk add git
  script:
  - export API_KEY=${AI_API_KEY}
  ...

🤖 Auto-generated Modifications and Docs for latest changes
  src/rust/chess_bot/src/board.rs
  src/rust/chess_bot/src/bot.rs
  src/rust/chess_bot/src/pieces.rs
  src/temp.py
Due: python_black, generate_docs

Couple of bug fixes
  src/godot/geography-summative/export_presets.cfg
  src/godot/geography-summative/objects/players/pei_player.tscn
  src/godot/geography-summative/project.godot
  src/godot/geography-summative/scenes/intros/banff_intro.tscn
  src/godot/geography-summative/scenes/intros/intro.tscn
  src/godot/geography-summative/scenes/intros/montreal_intro.tscn
  src/godot/geography-summative/scenes/intros/pei_intro.tscn
  src/godot/geography-summative/scenes/intros/victoria_intro.tscn
  src/godot/geography-summative/scenes/places/montreal/montreal.tscn
  src/godot/geography-summative/scenes/places/outro.tscn
  src/godot/geography-summative/scenes/places/pei/pei.tscn
  src/godot/geography-summative/scripts/intro.gd
  src/godot/geography-summative/scripts/pei/mussels.gd
  src/godot/geography-summative/scripts/pei/pei_player.gd
Due: generate_docs

Made a couple of fixes
  src/godot/geography-summative/scripts/banff/banff.gd
  src/godot/geography-summative/scripts/banff/flag_display.gd
  src/godot/geography-summative/scripts/banff/obstacle_skiing.gd
  src/godot/geography-summative/scripts/banff/obstacles.gd
  src/godot/geography-summative/scripts/banff/skiier.gd
  src/godot/geography-summative/scripts/banff/skiing_flag.gd
  src/godot/geography-summative/scripts/montreal/canoeing.gd
  src/godot/geography-summative/scripts/montreal/montreal.gd
  src/godot/geography-summative/scripts/outro.gd
  src/godot/geography-summative/scripts/pause_menu.gd
  src/godot/geography-summative/scripts/pei/time_label.gd
  src/godot/geography-summative/scripts/total_timer.gd
  src/godot/geography-summative/scripts/victoria/arrows.gd
  src/godot/geography-summative/scripts/victoria/ui.gd
  src/godot/geography-summative/scripts/victoria/victoria.gd
Due: generate_docs

Adds initial implementations of new features
  src/file_encryption/main.py
  src/file_encryption/set_password.py
  src/prime_number_finder/main.py
  src/rust/chat_system/Cargo.lock
  src/rust/chat_system/Cargo.toml
  src/rust/chat_system/src/main.rs
  src/rust/news_bot/Cargo.lock
  src/rust/news_bot/Cargo.toml
  src/rust/news_bot/src/main.rs
  src/searxng-regex-gen/main.py
Due: python_black, generate_docs

Add C++ school assignments and expand .gitignore
  .gitignore
  src/schoolRelated/ComputerScience/Sep3/happy_face/main
  src/schoolRelated/ComputerScience/Sep3/happy_face/main.cpp
  src/schoolRelated/ComputerScience/Sep3/happy_face/main.dSYM/Contents/Info.plist
  src/schoolRelated/ComputerScience/Sep3/happy_face/main.dSYM/Contents/Resources/DWARF/main
  src/schoolRelated/ComputerScience/Sep3/happy_face/main.dSYM/Contents/Resources/Relocations/aarch64/main.yml
  src/schoolRelated/ComputerScience/Sep3/hello_world/main
  src/schoolRelated/ComputerScience/Sep3/hello_world/main.cpp
  src/schoolRelated/ComputerScience/Sep3/hello_world/main.dSYM/Contents/Info.plist
  src/schoolRelated/ComputerScience/Sep3/hello_world/main.dSYM/Contents/Resources/DWARF/main
  src/schoolRelated/ComputerScience/Sep3/hello_world/main.dSYM/Contents/Resources/Relocations/aarch64/main.yml
Due: none

Adds script to trigger n8n doc generation workflow
  src/docGeneration/new_n8n_version.py
Due: python_black, generate_docs

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

🤖 Auto-generated Modifications and Docs for latest changes
  src/docGeneration/new_n8n_version.py
  src/file_encryption/main.py
  src/prime_number_finder/main.py
  src/searxng-regex-gen/main.py
Due: python_black, generate_docs

Refactors AI doc generation to use n8n workflow
  .gitlab-ci.yml
  src/docGeneration/generate.py
  src/docGeneration/new_n8n_version.py
  src/schoolRelated/ComputerScience/Sep3/happy_face/main
  src/schoolRelated/ComputerScience/Sep3/happy_face/main.dSYM/Contents/Resources/DWARF/main
Due: python_black, generate_docs

Removes OpenAI integration from doc generation
  .gitlab-ci.yml
  src/docGeneration/generate.py
Due: python_black, generate_docs

🤖 Auto-generated Modifications and Docs for latest changes
  docs/ai_docs/docGeneration/generate.md
  python_changes.patch
  src/docGeneration/new_n8n_version.py
Due: python_black, generate_docs

Increases webhook request timeout to 5 minutes
  src/docGeneration/new_n8n_version.py
Due: python_black, generate_docs

🤖 Auto-generated Modifications and Docs for latest changes
  docs/ai_docs/docGeneration/new_n8n_version.md
  python_changes.patch
Due: none

Extend doc generation to support C++ and Rust
  .gitlab-ci.yml
  src/docGeneration/generate.py
Due: python_black, generate_docs

🤖 Auto-generated Modifications and Docs for latest changes
  docs/ai_docs/docGeneration/generate.md
  python_changes.patch
  src/docGeneration/generate.py
Due: python_black, generate_docs

🤖 Auto-generated Modifications and Docs for latest changes
  docs/ai_docs/docGeneration/generate.md
  python_changes.patch
Due: none

Adds a simple CLI multiplication calculator
  src/rust/messing_around/Cargo.lock
  src/rust/messing_around/Cargo.toml
  src/rust/messing_around/src/main.rs
Due: none

🤖 Auto-generated Modifications and Docs for latest changes
  src/rust/chat_system/src/main.rs
  src/rust/news_bot/src/main.rs
Due: none

🤖 Auto-generated Modifications and Docs for latest changes
  docs/ai_docs/rust/chat_system/docs/ai_docs/main.rs.md
  docs/ai_docs/rust/news_bot/docs/ai_docs/main.rs.md
Due: none

Fix issue with programs that include another "src" in the path
  docs/ai_docs/rust/chat_system/docs/ai_docs/main.rs.md
  docs/ai_docs/rust/news_bot/docs/ai_docs/main.rs.md
  src/docGeneration/generate.py
Due: python_black, generate_docs

🤖 Auto-generated Modifications and Docs for latest changes
  python_changes.patch
Due: none

Learned variables in C at Computer Sciences
  src/schoolRelated/ComputerScience/Sep5/variables/main
  src/schoolRelated/ComputerScience/Sep5/variables/main.cpp
  src/schoolRelated/ComputerScience/Sep5/variables/main.dSYM/Contents/Info.plist
  src/schoolRelated/ComputerScience/Sep5/variables/main.dSYM/Contents/Resources/DWARF/main
  src/schoolRelated/ComputerScience/Sep5/variables/main.dSYM/Contents/Resources/Relocations/aarch64/main.yml
Due: none

🤖 Auto-generated Modifications and Docs for latest changes
  docs/ai_docs/schoolRelated/ComputerScience/Sep5/variables/main.cpp.md
Due: none

Adds BMI calculator program
  src/schoolRelated/ComputerScience/Sep5/snoppy/main
  src/schoolRelated/ComputerScience/Sep5/snoppy/main.cpp
  src/schoolRelated/ComputerScience/Sep5/snoppy/main.dSYM/Contents/Info.plist
  src/schoolRelated/ComputerScience/Sep5/snoppy/main.dSYM/Contents/Resources/DWARF/main
  src/schoolRelated/ComputerScience/Sep5/snoppy/main.dSYM/Contents/Resources/Relocations/aarch64/main.yml
Due: none

🤖 Auto-generated Modifications and Docs for latest changes
  docs/ai_docs/schoolRelated/ComputerScience/Sep5/snoppy/main.cpp.md
  python_changes.patch
  src/godot-card-game-preproccessing/activity_words.py
Due: python_black, generate_docs

Path conditions:
  python_black: any of: **/*.py
  build_package: any of: src/helpfulPackage/setup.py
  generate_docs: any of: **/*.py, **/*.gd
