Repository jonahmakowski/PyWrskp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_package, generate_docs

.gitlab-ci.yml:

stages:
 - distribute
 - docs

include:
  - local: src/automatic1111Docker/.gitlab-ci.yml

services:
  - name: docker:dind
    alias: docker

github_commit:
  image: alpine:latest
  stage: distribute
  variables:
    GIT_DEPTH: 0
  script:
    - apk add git tar ca-certificates
    - update-ca-certificates
    - mkdir -p build/copy_for_github
    - tar --exclude='build' -cf - -C . . | tar -xf - -C build/copy_for_github
    - cd build/copy_for_github
    - git config user.name "GitLab CI"
    - git config user.email "jonah@makowski.ca"
    - git checkout main
    - git remote add gitlab "http://gitlab_ci_token:${DOCS_KEY}@192.168.86.4:8929/jonahmakowski/pyWrskp.git"
    - git remote set-url origin "https://jonahmakowski:$GITHUB_PASSWORD@github.com/jonahmakowski/pyWrskp.git"
    - git pull gitlab main
    - git config pull.rebase false
    - git pull origin
    - git push

build_package:
  image: python:alpine
  stage: distribute
  variables:
    TWINE_USERNAME: gitlab-ci-token
    TWINE_PASSWORD: $CI_JOB_TOKEN
  script:
    - cd src/helpfulPackage
    - pip install --upgrade pip
    - pip install setuptools wheel
    - python setup.py bdist_wheel sdist
    - pip install .[dev]
    - twine check dist/*
    - twine upload --repository-url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi dist/*
  rules:
    - changes:
      - src/helpfulPackage/setup.py
  artifacts:
    paths:
      - src/helpfulPackage/dist
    expire_in: 1 day

generate_docs:
  image: python:alpine
  stage: docs
  variables:
    GIT_DEPTH: 0
  before_script:
    - pip install openai
    - pip install --upgrade pyWrkspPackage --trusted-host 192.168.86.4 --index-url http://192.168.86.4:8929/api/v4/projects/4/packages/pypi/simple
    - apk add git
  script:
    - export API_KEY=${AI_API_KEY}
    - git config --global user.email "gitlab-ci@localhost"
    - git config --global user.name "GitLab CI Docs Bot"
    - git checkout main
    - git remote set-url origin "http://gitlab_ci_token:${DOCS_KEY}@192.168.86.4:8929/jonahmakowski/pyWrskp.git"
    - git pull
    - python src/docGeneration/generate.py  # Runs AI-powered doc generation
    - git add docs/
    - |
      # Check if there are any changes
      if ! git diff --cached --quiet; then
        git pull
        git commit -m "ðŸ¤– Auto-generate docs for latest changes"
        git push
      else
        echo "No changes to commit."
      fi
  rules:
    - changes:
        - "**/*.py"  # Runs only when Python files change

.docker_build_template: &docker_build_definition # YAML anchor for re-use
  stage: distribute # Default stage, can be overridden
  script:
    - |
      echo "Waiting for docker daemon..."
      timeout 30 sh -c 'while ! docker info > /dev/null 2>&1; do echo -n "."; sleep 1; done;'
      echo "Docker daemon is ready!"
    - docker info
    - echo "Logging in to GitLab Container Registry: $CI_REGISTRY_HOST"
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY_HOST
    # IMAGE_NAME and DOCKERFILE_PATH must be defined in the job using this template
    - echo "Building Docker image $IMAGE_NAME from $DOCKERFILE_PATH"
    - docker build -t $IMAGE_NAME:latest --file $DOCKERFILE_PATH .
    - docker tag $IMAGE_NAME:latest $IMAGE_NAME:$CI_COMMIT_SHORT_SHA
    - echo "Pushing image to registry: $IMAGE_NAME"
    - docker push $IMAGE_NAME:latest
    - docker push $IMAGE_NAME:$CI_COMMIT_SHORT_SHA

Enhance Docker build process and update DOCKERNAME.txt
  .gitlab-ci.yml
  src/automatic1111Docker/DOCKERNAME.txt
  src/automatic1111Docker/Dockerfile
Due: none

Gave up on this
  src/automatic1111Docker/.gitlab-ci.yml
  src/automatic1111Docker/DOCKERNAME.txt
  src/automatic1111Docker/Dockerfile
Due: none

Add terminate and quit_app functions; update prompt with new commands
  src/voiceAssistants/newVoiceAssistant/actions.py
  src/voiceAssistants/newVoiceAssistant/main.py
  src/voiceAssistants/newVoiceAssistant/prompt.md
Due: generate_docs

Made this to integrate into voice assistant later
  src/voiceAssistants/newVoiceAssistant/spotify_actions.py
Due: generate_docs

🤖 Auto-generate docs for latest changes
  docs/ai_docs/voiceAssistants/newVoiceAssistant/spotify_actions.md
Due: none

Moved these old voice assistants into the new voice assistant directory
  src/voiceAssistants/improvedAssistant/v1.0/actions.sh
  src/voiceAssistants/improvedAssistant/v1.0/main.py
  src/voiceAssistants/improvedAssistant/v1.1/actions.sh
  src/voiceAssistants/improvedAssistant/v1.1/main.py
  src/voiceAssistants/improvedAssistant/v1.1/speak-sound.mp3
Due: generate_docs

🤖 Auto-generate docs for latest changes
  docs/ai_docs/improvedAssistant/v1.0/main.md
  docs/ai_docs/voiceAssistants/improvedAssistant/v1.0/main.md
  docs/ai_docs/voiceAssistants/improvedAssistant/v1.1/main.md
Due: none

Add Spotify integration with playback controls and voice command functionality
  src/voiceAssistants/newVoiceAssistant/actions.py
  src/voiceAssistants/newVoiceAssistant/helper.py
  src/voiceAssistants/newVoiceAssistant/main.py
  src/voiceAssistants/newVoiceAssistant/prompt.md
  src/voiceAssistants/newVoiceAssistant/spotify_actions.py
  src/voiceAssistants/newVoiceAssistant/spotify_prompt.md
  src/voiceAssistants/newVoiceAssistant/spotify_runner.py
Due: generate_docs

🤖 Auto-generate docs for latest changes
  docs/ai_docs/voiceAssistants/newVoiceAssistant/actions.md
  docs/ai_docs/voiceAssistants/newVoiceAssistant/helper.md
  docs/ai_docs/voiceAssistants/newVoiceAssistant/main.md
  docs/ai_docs/voiceAssistants/newVoiceAssistant/spotify_actions.md
  docs/ai_docs/voiceAssistants/newVoiceAssistant/spotify_runner.md
Due: none

Fixed a bug and added some documentation
  src/voiceAssistants/newVoiceAssistant/main.py
  src/voiceAssistants/newVoiceAssistant/spotify_runner.py
Due: generate_docs

🤖 Auto-generate docs for latest changes
  docs/ai_docs/voiceAssistants/newVoiceAssistant/main.md
  docs/ai_docs/voiceAssistants/newVoiceAssistant/spotify_runner.md
Due: none

Add Google Calendar and Weather integration with event retrieval and display functionality
  .gitignore
  src/voiceAssistants/newVoiceAssistant/google_calendar_api.py
  src/voiceAssistants/newVoiceAssistant/helper.py
  src/voiceAssistants/newVoiceAssistant/main.py
  src/voiceAssistants/newVoiceAssistant/prompt.md
  src/voiceAssistants/newVoiceAssistant/weather_get.py
Due: generate_docs

🤖 Auto-generate docs for latest changes
  docs/ai_docs/voiceAssistants/newVoiceAssistant/google_calendar_api.md
  docs/ai_docs/voiceAssistants/newVoiceAssistant/helper.md
  docs/ai_docs/voiceAssistants/newVoiceAssistant/main.md
  docs/ai_docs/voiceAssistants/newVoiceAssistant/weather_get.md
Due: none

Add audio processing features with speech recognition and text-to-speech capabilities
  src/helpfulPackage/app/pyWrkspPackage/audio.py
  src/voiceAssistants/newVoiceAssistant/audio/audio.mp3
  src/voiceAssistants/newVoiceAssistant/audio/bootup.mp3
  src/voiceAssistants/newVoiceAssistant/main.py
  src/voiceAssistants/newVoiceAssistant/requirements.txt
Due: generate_docs

🤖 Auto-generate docs for latest changes
  docs/ai_docs/helpfulPackage/app/pyWrkspPackage/audio.md
  docs/ai_docs/voiceAssistants/newVoiceAssistant/helper.md
  docs/ai_docs/voiceAssistants/newVoiceAssistant/main.md
Due: none

Bumbed version number to reflect the previous changes
  src/helpfulPackage/setup.py
Due: build_package, generate_docs

🤖 Auto-generate docs for latest changes
  docs/ai_docs/helpfulPackage/setup.md
Due: none

Update .gitignore for Godot project and modify documentation generation script for new file types
  .gitignore
  src/docGeneration/generate.py
  src/docGeneration/prompt.md
Due: generate_docs

🤖 Auto-generate docs for latest changes
  docs/ai_docs/docGeneration/generate.md
Due: none

Started work on a platformer game
  .gitlab-ci.yml
  src/godot/platformer/assets/coin.png
  src/godot/platformer/assets/coin.png.import
  src/godot/platformer/assets/fruit.png
  src/godot/platformer/assets/fruit.png.import
  src/godot/platformer/assets/icon.svg
  src/godot/platformer/assets/icon.svg.import
  src/godot/platformer/assets/knight.png
  src/godot/platformer/assets/knight.png.import
  src/godot/platformer/assets/platforms.png
  src/godot/platformer/assets/platforms.png.import
  src/godot/platformer/assets/slime_green.png
  src/godot/platformer/assets/slime_green.png.import
  src/godot/platformer/assets/slime_purple.png
  src/godot/platformer/assets/slime_purple.png.import
  src/godot/platformer/assets/world_tileset.png
  src/godot/platformer/assets/world_tileset.png.import
  src/godot/platformer/project.godot
  src/godot/platformer/scenes/death_zone.tscn
  src/godot/platformer/scenes/main.tscn
  src/godot/platformer/scripts/character.gd
  src/godot/platformer/scripts/death_zone.gd
Due: none
