Repository jonahmakowski/PyWrskp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: python_black, build_package, generate_docs

Path conditions:
  python_black: any of: **/*.py
  build_package: any of: src/helpfulPackage/setup.py
  generate_docs: any of: **/*.py, **/*.gd

🤖 Auto-generated Modifications and Docs for latest changes
  docs/ai_docs/brotato-style-game/Game/Enemies/enemy_spawner.markdown
  docs/ai_docs/brotato-style-game/Game/Helpers/stats.markdown
  docs/ai_docs/brotato-style-game/Game/Player/player_weapon.markdown
  docs/ai_docs/brotato-style-game/Game/Player/weapon_resource.markdown
  docs/ai_docs/brotato-style-game/Game/Shop/shop.markdown
  docs/ai_docs/brotato-style-game/Game/Shop/weapon_selection.markdown
  docs/ai_docs/brotato-style-game/Game/Shop/weapon_selling.markdown
Due: none

Updates weapon merging system
  src/brotato-style-game/Game/Helpers/upgrades.tscn
  src/brotato-style-game/Game/Shop/weapon_selection.gd
  src/brotato-style-game/Game/Shop/weapon_selling.gd
  src/brotato-style-game/Game/Shop/weapon_selling.tscn
  src/brotato-style-game/Resources/Upgrades/4 - Epic/epic_weapon_max_count.tres
  src/brotato-style-game/project.godot
Due: generate_docs

🤖 Auto-generated Modifications and Docs for latest changes
  docs/ai_docs/brotato-style-game/Game/Shop/weapon_selection.markdown
  docs/ai_docs/brotato-style-game/Game/Shop/weapon_selling.markdown
Due: none

Adds new upgrades and improves upgrade system
  src/brotato-style-game/Game/Helpers/stats.gd
  src/brotato-style-game/Game/Helpers/upgrades.gd
  src/brotato-style-game/Game/Helpers/upgrades.tscn
  src/brotato-style-game/Game/Player/player.gd
  src/brotato-style-game/Game/Player/player.tscn
  src/brotato-style-game/Resources/Upgrades/1 - Common/common_max_health.tres
  src/brotato-style-game/Resources/Upgrades/1 - Common/common_refund.tres
  src/brotato-style-game/Resources/Upgrades/1 - Common/common_speed.tres
  src/brotato-style-game/Resources/Upgrades/2 - Uncommon/uncommon_health_regen.tres
  src/brotato-style-game/Resources/Upgrades/2 - Uncommon/uncommon_max_health.tres
  src/brotato-style-game/Resources/Upgrades/2 - Uncommon/uncommon_refund.tres
  src/brotato-style-game/Resources/Upgrades/2 - Uncommon/uncommon_speed.tres
  src/brotato-style-game/Resources/Upgrades/3 - Rare/rare_double_double_damage.tres
Due: generate_docs

🤖 Auto-generated Modifications and Docs for latest changes
  docs/ai_docs/brotato-style-game/Game/Helpers/stats.markdown
  docs/ai_docs/brotato-style-game/Game/Helpers/upgrades.markdown
  docs/ai_docs/brotato-style-game/Game/Player/player.markdown
Due: none

Adds macOS export configuration and new weapon upgrades
  src/brotato-style-game/Game/Helpers/stats.gd
  src/brotato-style-game/Game/Helpers/upgrades.tscn
  src/brotato-style-game/Game/Player/player.gd
  src/brotato-style-game/Game/Player/player_arrow.gd
  src/brotato-style-game/Game/Player/player_arrow.tscn
  src/brotato-style-game/Game/Player/player_weapon.gd
  src/brotato-style-game/Game/Shop/shop.gd
  src/brotato-style-game/Game/Shop/weapon_selection.gd
  src/brotato-style-game/Game/Shop/weapon_selling.gd
  src/brotato-style-game/Resources/Upgrades/2 - Uncommon/uncommon_speed.tres
  src/brotato-style-game/Resources/Upgrades/4 - Epic/epic_arrow_bounce.tres
  src/brotato-style-game/Resources/Upgrades/5 - Legendary/legendary_arrow_tracing.tres
  src/brotato-style-game/Resources/Weapons/WoodenClub.tres
  src/brotato-style-game/export_presets.cfg
  src/brotato-style-game/project.godot
Due: generate_docs

🤖 Auto-generated Modifications and Docs for latest changes
  docs/ai_docs/brotato-style-game/Game/Helpers/stats.markdown
  docs/ai_docs/brotato-style-game/Game/Player/player.markdown
  docs/ai_docs/brotato-style-game/Game/Player/player_arrow.markdown
  docs/ai_docs/brotato-style-game/Game/Player/player_weapon.markdown
  docs/ai_docs/brotato-style-game/Game/Shop/shop.markdown
  docs/ai_docs/brotato-style-game/Game/Shop/weapon_selection.markdown
  docs/ai_docs/brotato-style-game/Game/Shop/weapon_selling.markdown
Due: none

Adds random number generation programs
  src/schoolRelated/ComputerScience/Sep22/randomDice/main
  src/schoolRelated/ComputerScience/Sep22/randomDice/main.cpp
  src/schoolRelated/ComputerScience/Sep22/randomDice/main.dSYM/Contents/Info.plist
  src/schoolRelated/ComputerScience/Sep22/randomDice/main.dSYM/Contents/Resources/DWARF/main
  src/schoolRelated/ComputerScience/Sep22/randomDice/main.dSYM/Contents/Resources/Relocations/aarch64/main.yml
  src/schoolRelated/ComputerScience/Sep22/randombetween1and0/main
  src/schoolRelated/ComputerScience/Sep22/randombetween1and0/main.cpp
  src/schoolRelated/ComputerScience/Sep22/randombetween1and0/main.dSYM/Contents/Info.plist
  src/schoolRelated/ComputerScience/Sep22/randombetween1and0/main.dSYM/Contents/Resources/DWARF/main
  src/schoolRelated/ComputerScience/Sep22/randombetween1and0/main.dSYM/Contents/Resources/Relocations/aarch64/main.yml
  src/schoolRelated/ComputerScience/Sep22/randomnumber10and40not20and30/main
  src/schoolRelated/ComputerScience/Sep22/randomnumber10and40not20and30/main.cpp
  src/schoolRelated/ComputerScience/Sep22/randomnumber10and40not20and30/main.dSYM/Contents/Info.plist
  src/schoolRelated/ComputerScience/Sep22/randomnumber10and40not20and30/main.dSYM/Contents/Resources/DWARF/main
  src/schoolRelated/ComputerScience/Sep22/randomnumber10and40not20and30/main.dSYM/Contents/Resources/Relocations/aarch64/main.yml
  src/schoolRelated/ComputerScience/Sep22/randomswitches/main
  src/schoolRelated/ComputerScience/Sep22/randomswitches/main.cpp
  src/schoolRelated/ComputerScience/Sep22/randomswitches/main.dSYM/Contents/Info.plist
  src/schoolRelated/ComputerScience/Sep22/randomswitches/main.dSYM/Contents/Resources/DWARF/main
  src/schoolRelated/ComputerScience/Sep22/randomswitches/main.dSYM/Contents/Resources/Relocations/aarch64/main.yml
Due: none

🤖 Auto-generated Modifications and Docs for latest changes
  docs/ai_docs/schoolRelated/ComputerScience/Sep22/randomDice/main.cpp.md
  docs/ai_docs/schoolRelated/ComputerScience/Sep22/randombetween1and0/main.cpp.md
  docs/ai_docs/schoolRelated/ComputerScience/Sep22/randomnumber10and40not20and30/main.cpp.md
  docs/ai_docs/schoolRelated/ComputerScience/Sep22/randomswitches/main.cpp.md
Due: none

Adds three new school-related programs
  src/schoolRelated/ComputerScience/Sep22/deficientperfectabundant/main
  src/schoolRelated/ComputerScience/Sep22/deficientperfectabundant/main.cpp
  src/schoolRelated/ComputerScience/Sep22/deficientperfectabundant/main.dSYM/Contents/Info.plist
  src/schoolRelated/ComputerScience/Sep22/deficientperfectabundant/main.dSYM/Contents/Resources/DWARF/main
  src/schoolRelated/ComputerScience/Sep22/deficientperfectabundant/main.dSYM/Contents/Resources/Relocations/aarch64/main.yml
  src/schoolRelated/ComputerScience/Sep22/harrypotterenrichmentassignment/main
  src/schoolRelated/ComputerScience/Sep22/harrypotterenrichmentassignment/main.cpp
  src/schoolRelated/ComputerScience/Sep22/harrypotterenrichmentassignment/main.dSYM/Contents/Info.plist
  src/schoolRelated/ComputerScience/Sep22/harrypotterenrichmentassignment/main.dSYM/Contents/Resources/DWARF/main
  src/schoolRelated/ComputerScience/Sep22/harrypotterenrichmentassignment/main.dSYM/Contents/Resources/Relocations/aarch64/main.yml
  src/schoolRelated/ComputerScience/Sep22/sincalculation/main
  src/schoolRelated/ComputerScience/Sep22/sincalculation/main.cpp
  src/schoolRelated/ComputerScience/Sep22/sincalculation/main.dSYM/Contents/Info.plist
  src/schoolRelated/ComputerScience/Sep22/sincalculation/main.dSYM/Contents/Resources/DWARF/main
  src/schoolRelated/ComputerScience/Sep22/sincalculation/main.dSYM/Contents/Resources/Relocations/aarch64/main.yml
Due: none

🤖 Auto-generated Modifications and Docs for latest changes
  docs/ai_docs/schoolRelated/ComputerScience/Sep22/deficientperfectabundant/main.cpp.md
  docs/ai_docs/schoolRelated/ComputerScience/Sep22/harrypotterenrichmentassignment/main.cpp.md
  docs/ai_docs/schoolRelated/ComputerScience/Sep22/randomDice/main.cpp.md
  docs/ai_docs/schoolRelated/ComputerScience/Sep22/randombetween1and0/main.cpp.md
  docs/ai_docs/schoolRelated/ComputerScience/Sep22/randomnumber10and40not20and30/main.cpp.md
  docs/ai_docs/schoolRelated/ComputerScience/Sep22/randomswitches/main.cpp.md
  docs/ai_docs/schoolRelated/ComputerScience/Sep22/sincalculation/main.cpp.md
Due: none

Adds coin retrieval upgrade system
  src/brotato-style-game/Game/Coin/coin.gd
  src/brotato-style-game/Game/Coin/coin.tscn
  src/brotato-style-game/Game/Helpers/stats.gd
  src/brotato-style-game/Game/Helpers/upgrades.tscn
  src/brotato-style-game/Game/Player/player.tscn
  src/brotato-style-game/Game/Player/player_arrow.gd
  src/brotato-style-game/Game/Player/player_weapon.gd
  src/brotato-style-game/Game/Shop/shop.gd
  src/brotato-style-game/Resources/Upgrades/2 - Uncommon/uncommon_double_double_damage.tres
  src/brotato-style-game/Resources/Upgrades/3 - Rare/rare_retrival_upgrade.tres
Due: generate_docs

🤖 Auto-generated Modifications and Docs for latest changes
  docs/ai_docs/brotato-style-game/Game/Coin/coin.markdown
  docs/ai_docs/brotato-style-game/Game/Helpers/stats.markdown
  docs/ai_docs/brotato-style-game/Game/Player/player_arrow.markdown
  docs/ai_docs/brotato-style-game/Game/Player/player_weapon.markdown
  docs/ai_docs/brotato-style-game/Game/Shop/shop.markdown
  docs/ai_docs/schoolRelated/ComputerScience/Sep22/deficientperfectabundant/main.cpp.md
  docs/ai_docs/schoolRelated/ComputerScience/Sep22/harrypotterenrichmentassignment/main.cpp.md
  docs/ai_docs/schoolRelated/ComputerScience/Sep22/sincalculation/main.cpp.md
Due: none

Adds switch statement examples
  src/schoolRelated/ComputerScience/Sep24/switches/main.cpp
  src/schoolRelated/ComputerScience/Sep24/switches2/main.cpp
  src/schoolRelated/ComputerScience/Sep24/switches3/main.cpp
Due: none

🤖 Auto-generated Modifications and Docs for latest changes
  docs/ai_docs/schoolRelated/ComputerScience/Sep24/switches/main.cpp.md
  docs/ai_docs/schoolRelated/ComputerScience/Sep24/switches2/main.cpp.md
  docs/ai_docs/schoolRelated/ComputerScience/Sep24/switches3/main.cpp.md
Due: none

Adds event-based messaging system
  src/brotato-style-game/Game/Helpers/Messanger.gd
  src/brotato-style-game/Game/Helpers/Messanger.gd.uid
  src/brotato-style-game/Game/Helpers/scenes.gd
  src/brotato-style-game/Game/Helpers/scenes.tscn
  src/brotato-style-game/Game/Helpers/stats.gd
  src/brotato-style-game/Game/Shop/coin_label.gd
  src/brotato-style-game/Game/Shop/shop.gd
  src/brotato-style-game/Game/Shop/shop.tscn
  src/brotato-style-game/Game/Shop/weapon_selection.gd
  src/brotato-style-game/Game/Shop/weapon_selling.gd
  src/brotato-style-game/project.godot
Due: generate_docs

🤖 Auto-generated Modifications and Docs for latest changes
  docs/ai_docs/brotato-style-game/Game/Helpers/Messanger.markdown
  docs/ai_docs/brotato-style-game/Game/Helpers/scenes.markdown
  docs/ai_docs/brotato-style-game/Game/Helpers/stats.markdown
  docs/ai_docs/brotato-style-game/Game/Shop/coin_label.markdown
  docs/ai_docs/brotato-style-game/Game/Shop/shop.markdown
  docs/ai_docs/brotato-style-game/Game/Shop/weapon_selection.markdown
  docs/ai_docs/brotato-style-game/Game/Shop/weapon_selling.markdown
  docs/ai_docs/schoolRelated/ComputerScience/Sep24/switches/main.cpp.md
  docs/ai_docs/schoolRelated/ComputerScience/Sep24/switches2/main.cpp.md
  docs/ai_docs/schoolRelated/ComputerScience/Sep24/switches3/main.cpp.md
Due: none

Initializes coin display and upgrade weights
  src/brotato-style-game/Game/Helpers/upgrades.gd
  src/brotato-style-game/Game/Shop/coin_label.gd
  src/brotato-style-game/Game/Shop/shop.tscn
Due: generate_docs

🤖 Auto-generated Modifications and Docs for latest changes
  docs/ai_docs/brotato-style-game/Game/Helpers/upgrades.markdown
  docs/ai_docs/brotato-style-game/Game/Shop/coin_label.markdown
Due: none

Adds upgrade conditions and difficulty progression
  src/brotato-style-game/Game/Helpers/stats.gd
  src/brotato-style-game/Game/Helpers/upgrades.gd
  src/brotato-style-game/Game/Helpers/upgrades.tscn
  src/brotato-style-game/Game/Player/player.tscn
  src/brotato-style-game/Game/Shop/shop.gd
  src/brotato-style-game/Game/Shop/weapon_selection.gd
  src/brotato-style-game/Game/Shop/weapon_selling.gd
  src/brotato-style-game/Game/Shop/weapon_selling.tscn
  src/brotato-style-game/Game/UIScenes/upgrade_selection.gd
  src/brotato-style-game/Game/UIScenes/upgrade_selection.tscn
  src/brotato-style-game/Game/UIScenes/upgrade_selection_helper.gd
  src/brotato-style-game/Game/UIScenes/upgrade_selection_helper.tscn
  src/brotato-style-game/Game/UpgradeSystem/upgrade_class.gd
  src/brotato-style-game/Game/UpgradeSystem/upgrade_conditions_resource.gd
  src/brotato-style-game/Resources/Upgrades/3 - Rare/rare_retrival_upgrade.tres
  src/brotato-style-game/Resources/Upgrades/4 - Epic/epic_upgrade_increase.tres
  src/brotato-style-game/Resources/Upgrades/4 - Epic/epic_weapon_max_count.tres
  src/brotato-style-game/Resources/Upgrades/5 - Legendary/legendary_arrow_tracing.tres
Due: generate_docs

🤖 Auto-generated Modifications and Docs for latest changes
  docs/ai_docs/brotato-style-game/Game/Helpers/stats.markdown
  docs/ai_docs/brotato-style-game/Game/Helpers/upgrades.markdown
  docs/ai_docs/brotato-style-game/Game/Shop/shop.markdown
  docs/ai_docs/brotato-style-game/Game/Shop/weapon_selection.markdown
  docs/ai_docs/brotato-style-game/Game/Shop/weapon_selling.markdown
  docs/ai_docs/brotato-style-game/Game/UIScenes/upgrade_selection.markdown
  docs/ai_docs/brotato-style-game/Game/UIScenes/upgrade_selection_helper.markdown
  docs/ai_docs/brotato-style-game/Game/UpgradeSystem/upgrade_class.markdown
  docs/ai_docs/brotato-style-game/Game/UpgradeSystem/upgrade_conditions_resource.markdown
Due: none

Adds school-related C++ projects
  src/docGeneration/generate.py
  src/schoolRelated/ComputerScience/Oct1/repititionchallange/main
  src/schoolRelated/ComputerScience/Oct1/repititionchallange/main.cpp
  src/schoolRelated/ComputerScience/Oct1/repititionchallange/main.dSYM/Contents/Info.plist
  src/schoolRelated/ComputerScience/Oct1/repititionchallange/main.dSYM/Contents/Resources/DWARF/main
  src/schoolRelated/ComputerScience/Oct1/repititionchallange/main.dSYM/Contents/Resources/Relocations/aarch64/main.yml
  src/schoolRelated/ComputerScience/Sep30/Funjet/main
  src/schoolRelated/ComputerScience/Sep30/Funjet/main.cpp
  src/schoolRelated/ComputerScience/Sep30/Funjet/main.dSYM/Contents/Info.plist
  src/schoolRelated/ComputerScience/Sep30/Funjet/main.dSYM/Contents/Resources/DWARF/main
  src/schoolRelated/ComputerScience/Sep30/Funjet/main.dSYM/Contents/Resources/Relocations/aarch64/main.yml
  src/schoolRelated/ComputerScience/Sep30/calculator/main
  src/schoolRelated/ComputerScience/Sep30/calculator/main.cpp
  src/schoolRelated/ComputerScience/Sep30/calculator/main.dSYM/Contents/Info.plist
  src/schoolRelated/ComputerScience/Sep30/calculator/main.dSYM/Contents/Resources/DWARF/main
  src/schoolRelated/ComputerScience/Sep30/calculator/main.dSYM/Contents/Resources/Relocations/aarch64/main.yml
Due: python_black, generate_docs

Edit LICENSE
  LICENSE
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Adds right triangle solver functionality
  src/trigSolver/main.py
Due: python_black, generate_docs

🤖 Auto-generated Modifications and Docs for latest changes
  docs/ai_docs/docGeneration/generate.md
  docs/ai_docs/trigSolver/main.md
  python_changes.patch
Due: none

Adds file I/O practice exercises for CS course
  src/schoolRelated/ComputerScience/Oct10/fileaccess/question1/main
  src/schoolRelated/ComputerScience/Oct10/fileaccess/question1/main.cpp
  src/schoolRelated/ComputerScience/Oct10/fileaccess/question1/main.dSYM/Contents/Info.plist
  src/schoolRelated/ComputerScience/Oct10/fileaccess/question1/main.dSYM/Contents/Resources/DWARF/main
  src/schoolRelated/ComputerScience/Oct10/fileaccess/question1/main.dSYM/Contents/Resources/Relocations/aarch64/main.yml
  src/schoolRelated/ComputerScience/Oct10/fileaccess/question1/test_file.txt
  src/schoolRelated/ComputerScience/Oct10/fileaccess/question2/main
  src/schoolRelated/ComputerScience/Oct10/fileaccess/question2/main.cpp
  src/schoolRelated/ComputerScience/Oct10/fileaccess/question2/main.dSYM/Contents/Info.plist
  src/schoolRelated/ComputerScience/Oct10/fileaccess/question2/main.dSYM/Contents/Resources/DWARF/main
  src/schoolRelated/ComputerScience/Oct10/fileaccess/question2/main.dSYM/Contents/Resources/Relocations/aarch64/main.yml
  src/schoolRelated/ComputerScience/Oct10/fileaccess/question2/test_file.txt
  src/schoolRelated/ComputerScience/Oct10/fileaccess/question3/main
  src/schoolRelated/ComputerScience/Oct10/fileaccess/question3/main.cpp
  src/schoolRelated/ComputerScience/Oct10/fileaccess/question3/main.dSYM/Contents/Info.plist
  src/schoolRelated/ComputerScience/Oct10/fileaccess/question3/main.dSYM/Contents/Resources/DWARF/main
  src/schoolRelated/ComputerScience/Oct10/fileaccess/question3/main.dSYM/Contents/Resources/Relocations/aarch64/main.yml
  src/schoolRelated/ComputerScience/Oct10/fileaccess/question4/main
  src/schoolRelated/ComputerScience/Oct10/fileaccess/question4/main.cpp
  src/schoolRelated/ComputerScience/Oct10/fileaccess/question4/main.dSYM/Contents/Info.plist
  src/schoolRelated/ComputerScience/Oct10/fileaccess/question4/main.dSYM/Contents/Resources/DWARF/main
  src/schoolRelated/ComputerScience/Oct10/fileaccess/question4/main.dSYM/Contents/Resources/Relocations/aarch64/main.yml
Due: none

🤖 Auto-generated Modifications and Docs for latest changes
  docs/ai_docs/docGeneration/generate.md
  docs/ai_docs/schoolRelated/ComputerScience/Oct10/fileaccess/question1/main.cpp.md
  docs/ai_docs/schoolRelated/ComputerScience/Oct10/fileaccess/question2/main.cpp.md
  docs/ai_docs/schoolRelated/ComputerScience/Oct10/fileaccess/question3/main.cpp.md
  docs/ai_docs/schoolRelated/ComputerScience/Oct10/fileaccess/question4/main.cpp.md
  docs/ai_docs/trigSolver/main.md
Due: none

Standardizes upgrade conditions resource across all upgrades
  src/brotato-style-game/Game/UpgradeSystem/upgrade_conditions_resource.gd.uid
  src/brotato-style-game/Resources/Upgrades/1 - Common/common_damage.tres
  src/brotato-style-game/Resources/Upgrades/1 - Common/common_health_regen.tres
  src/brotato-style-game/Resources/Upgrades/1 - Common/common_max_health.tres
  src/brotato-style-game/Resources/Upgrades/1 - Common/common_refund.tres
  src/brotato-style-game/Resources/Upgrades/1 - Common/common_speed.tres
  src/brotato-style-game/Resources/Upgrades/1 - Common/common_spin.tres
  src/brotato-style-game/Resources/Upgrades/2 - Uncommon/uncommon_damage.tres
  src/brotato-style-game/Resources/Upgrades/2 - Uncommon/uncommon_health_regen.tres
  src/brotato-style-game/Resources/Upgrades/2 - Uncommon/uncommon_max_health.tres
  src/brotato-style-game/Resources/Upgrades/2 - Uncommon/uncommon_piercing.tres
  src/brotato-style-game/Resources/Upgrades/2 - Uncommon/uncommon_refund.tres
  src/brotato-style-game/Resources/Upgrades/2 - Uncommon/uncommon_speed.tres
  src/brotato-style-game/Resources/Upgrades/2 - Uncommon/uncommon_spin.tres
  src/brotato-style-game/Resources/Upgrades/3 - Rare/rare_retrival_upgrade.tres
  src/brotato-style-game/Resources/Upgrades/4 - Epic/epic_arrow_bounce.tres
  src/brotato-style-game/Resources/Upgrades/4 - Epic/epic_upgrade_increase.tres
  src/brotato-style-game/Resources/Upgrades/4 - Epic/epic_weapon_max_count.tres
  src/brotato-style-game/Resources/Upgrades/5 - Legendary/legendary_arrow_tracing.tres
Due: none

Initializes 3D stick-man game project structure
  src/stick-man-game-3d/.editorconfig
  src/stick-man-game-3d/Levels/level_base.tscn
  src/stick-man-game-3d/Player/player.gd
  src/stick-man-game-3d/Player/player.gd.uid
  src/stick-man-game-3d/Player/player.tscn
  src/stick-man-game-3d/Weapons/00 Weapon Base/weapon_base.gd
  src/stick-man-game-3d/Weapons/00 Weapon Base/weapon_base.gd.uid
  src/stick-man-game-3d/Weapons/00 Weapon Base/weapon_projectile.gd
  src/stick-man-game-3d/Weapons/00 Weapon Base/weapon_projectile.gd.uid
  src/stick-man-game-3d/Weapons/Pistol/pistol.tscn
  src/stick-man-game-3d/Weapons/Pistol/pistol_projectile.tscn
  src/stick-man-game-3d/icon.svg
  src/stick-man-game-3d/icon.svg.import
  src/stick-man-game-3d/project.godot
Due: generate_docs

Adds laptop comparison project for universities
  src/schoolRelated/ComputerScience/Oct14/hardwareproject/laptop_data.txt
  src/schoolRelated/ComputerScience/Oct14/hardwareproject/main
  src/schoolRelated/ComputerScience/Oct14/hardwareproject/main.cpp
  src/schoolRelated/ComputerScience/Oct14/hardwareproject/main.dSYM/Contents/Info.plist
  src/schoolRelated/ComputerScience/Oct14/hardwareproject/main.dSYM/Contents/Resources/DWARF/main
  src/schoolRelated/ComputerScience/Oct14/hardwareproject/main.dSYM/Contents/Resources/Relocations/aarch64/main.yml
Due: none

🤖 Auto-generated Modifications and Docs for latest changes
  docs/ai_docs/schoolRelated/ComputerScience/Oct10/fileaccess/question1/main.cpp.md
  docs/ai_docs/schoolRelated/ComputerScience/Oct10/fileaccess/question2/main.cpp.md
  docs/ai_docs/schoolRelated/ComputerScience/Oct10/fileaccess/question3/main.cpp.md
  docs/ai_docs/schoolRelated/ComputerScience/Oct10/fileaccess/question4/main.cpp.md
  docs/ai_docs/schoolRelated/ComputerScience/Oct14/hardwareproject/main.cpp.md
Due: none

Improves laptop data processing flexibility
  src/schoolRelated/ComputerScience/Oct14/hardwareproject/main
  src/schoolRelated/ComputerScience/Oct14/hardwareproject/main.cpp
  src/schoolRelated/ComputerScience/Oct14/hardwareproject/main.dSYM/Contents/Resources/DWARF/main
Due: none

🤖 Auto-generated Modifications and Docs for latest changes
  docs/ai_docs/schoolRelated/ComputerScience/Oct14/hardwareproject/main.cpp.md
Due: none

Adds array practice questions implementation
  src/schoolRelated/ComputerScience/Oct16/arrayquestions/data.txt
  src/schoolRelated/ComputerScience/Oct16/arrayquestions/main
  src/schoolRelated/ComputerScience/Oct16/arrayquestions/main.cpp
  src/schoolRelated/ComputerScience/Oct16/arrayquestions/main.dSYM/Contents/Info.plist
  src/schoolRelated/ComputerScience/Oct16/arrayquestions/main.dSYM/Contents/Resources/DWARF/main
  src/schoolRelated/ComputerScience/Oct16/arrayquestions/main.dSYM/Contents/Resources/Relocations/aarch64/main.yml
Due: none

Adds Rust implementation of CS array questions
  src/rust/computer_science_questions_oct17/Cargo.lock
  src/rust/computer_science_questions_oct17/Cargo.toml
  src/rust/computer_science_questions_oct17/src/data.txt
  src/rust/computer_science_questions_oct17/src/main
  src/rust/computer_science_questions_oct17/src/main.rs
Due: none
