Repository jonahmakowski/PyWrskp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: python_black, build_package, generate_docs

python_black:
  image: python:alpine
  stage: format
  before_script:
  - pip install black
  script:
  - apk add --no-cache git
  - git checkout main
  - git remote set-url origin "http://gitlab_ci_token:${DOCS_KEY}@192.168.86.4:8929/jonahmakowski/pyWrskp.git"
  - git pull
  - echo "Running Black for code formatting..."
  ...

build_package:
  image: python:alpine
  stage: build
  variables:
    TWINE_USERNAME: gitlab-ci-token
    TWINE_PASSWORD: $CI_JOB_TOKEN
  script:
  - cd src/helpfulPackage
  - pip install --upgrade pip
  - pip install setuptools wheel
  - python setup.py bdist_wheel sdist
  - pip install .[dev]
  - twine check dist/*
  ...

generate_docs:
  image: python:alpine
  stage: docs
  variables:
    GIT_DEPTH: 0
  before_script:
  - pip install openai
  - pip install --upgrade pyWrkspPackage --trusted-host 192.168.86.4 --index-url http://192.168.86.4:8929/api/v4/projects/4/packages/pypi/simple
  - apk add git
  script:
  - export API_KEY=${AI_API_KEY}
  ...

Add CI configuration and requirements for Obsidian to SQL data processing
  src/obsidianDataSQL/obisidian_to_SQL.py
  src/obsidianDataSQL/obsidian-gitlab-ci.yml
  src/obsidianDataSQL/requirements.txt
Due: python_black, generate_docs

Fix wget command for downloading requirements.txt in CI configuration
  src/obsidianDataSQL/obsidian-gitlab-ci.yml
Due: none

Fix Git remote URL configuration for GitLab in github_commit stage
  .gitlab-ci.yml
Due: none

Converts to floats now
  src/obsidianDataSQL/obisidian_to_SQL.py
Due: python_black, generate_docs

Fixed python black changes file removal (I hope)
  .gitlab-ci.yml
  src/coderDecoder/coder.py
Due: python_black, generate_docs

🤖 Auto-generated Modifications and Docs for latest changes
  docs/ai_docs/obsidianDataSQL/obisidian_to_SQL.md
Due: none

That didn't fix it. Hopefully this one does.
  .gitlab-ci.yml
  src/coderDecoder/coder.py
Due: python_black, generate_docs

Fix Git remote URL configuration for GitLab
  .gitlab-ci.yml
  src/adventOfCode/day6/puzzle2.py
Due: python_black, generate_docs

🤖 Auto-generated Modifications and Docs for latest changes
  black_changes.patch
  docs/ai_docs/adventOfCode/day6/puzzle2.md
  src/adventOfCode/day6/puzzle2.py
  src/obsidianDataSQL/obisidian_to_SQL.py
  src/weatherStation/main.py
  src/weatherStation/merge_data.py
  src/weatherStation/parse_data.py
  src/weatherStation/raspberrypi3_script.py
Due: python_black, generate_docs

🤖 Auto-generated Modifications and Docs for latest changes
  black_changes.patch
  docs/ai_docs/obsidianDataSQL/obisidian_to_SQL.md
  docs/ai_docs/weatherStation/main.md
  docs/ai_docs/weatherStation/merge_data.md
  docs/ai_docs/weatherStation/parse_data.md
  docs/ai_docs/weatherStation/raspberrypi3_script.md
Due: none

Made a simple book recommender
  src/bookSuggester/main.py
Due: python_black, generate_docs

Refactor book recommendation logic to use DataFrame; integrate Open Library API for enhanced data retrieval
  src/bookSuggester/main.py
Due: python_black, generate_docs

🤖 Auto-generated Modifications and Docs for latest changes
  black_changes.patch
  docs/ai_docs/bookSuggester/main.md
  src/bookSuggester/main.py
Due: python_black, generate_docs

🤖 Auto-generated Modifications and Docs for latest changes
  black_changes.patch
  docs/ai_docs/bookSuggester/main.md
Due: none

Worked on the platformer yesterday
  src/godot/platformer/project.godot
  src/godot/platformer/scenes/character.tscn
  src/godot/platformer/scenes/main.tscn
  src/godot/platformer/scenes/platform.tscn
  src/godot/platformer/scripts/character.gd
Due: generate_docs

Looking at Rust
  .gitignore
  src/rust/learning_rust/fibonacci_sequance_gen/Cargo.lock
  src/rust/learning_rust/fibonacci_sequance_gen/Cargo.toml
  src/rust/learning_rust/fibonacci_sequance_gen/src/main.rs
  src/rust/learning_rust/guessing_game/Cargo.lock
  src/rust/learning_rust/guessing_game/Cargo.toml
  src/rust/learning_rust/guessing_game/src/main.rs
Due: none

Made a simple, cli based, password gen
  src/rust/learning_rust/password_gen/Cargo.lock
  src/rust/learning_rust/password_gen/Cargo.toml
  src/rust/learning_rust/password_gen/src/main.rs
Due: none

Add rules to python_black_cleanup to trigger on Python file changes
  .gitlab-ci.yml
Due: none

Fix GitLab remote URL setup in github_commit stage
  .gitlab-ci.yml
Due: none

Made a simple web server following a tutorial
  src/rust/learning_rust/simple_website/404.html
  src/rust/learning_rust/simple_website/Cargo.lock
  src/rust/learning_rust/simple_website/Cargo.toml
  src/rust/learning_rust/simple_website/hello.html
  src/rust/learning_rust/simple_website/src/lib.rs
  src/rust/learning_rust/simple_website/src/main.rs
Due: none

Path conditions:
  python_black: any of: **/*.py
  build_package: any of: src/helpfulPackage/setup.py
  generate_docs: any of: **/*.py, **/*.gd
