Repository jonahmakowski/PyWrskp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_package, generate_docs

.gitlab-ci.yml:

stages:
 - distribute
 - docs

github_commit:
  image: alpine:latest
  stage: distribute
  variables:
    GIT_DEPTH: 0
  script:
    - apk add git tar ca-certificates
    - update-ca-certificates
    - mkdir -p build/copy_for_github
    - tar --exclude='build' -cf - -C . . | tar -xf - -C build/copy_for_github
    - cd build/copy_for_github
    - git config user.name "GitLab CI"
    - git config user.email "jonah@makowski.ca"
    - git checkout main
    - git remote set-url origin "https://jonahmakowski:$GITHUB_PASSWORD@github.com/jonahmakowski/pyWrskp.git"
    - git config pull.rebase false
    - git pull
    - git push

build_package:
  image: python:alpine
  stage: distribute
  variables:
    TWINE_USERNAME: gitlab-ci-token
    TWINE_PASSWORD: $CI_JOB_TOKEN
  script:
    - cd src/helpfulPackage
    - pip install --upgrade pip
    - pip install setuptools wheel
    - python setup.py bdist_wheel sdist
    - pip install .[dev]
    - twine check dist/*
    - twine upload --repository-url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi dist/*
  rules:
    - changes:
      - src/helpfulPackage/setup.py
  artifacts:
    paths:
      - src/helpfulPackage/dist
    expire_in: 1 day

generate_docs:
  image: python:alpine
  stage: docs
  timeout: 5h # Increase timeout to 5 hours
  variables:
    GIT_DEPTH: 0
  before_script:
    - pip install ollama
    - apk add git
  script:
    - python src/docGeneration/generate.py  # Runs AI-powered doc generation
    - |
      # Check if there are any changes
      git config --global user.email "gitlab-ci@localhost"
      git config --global user.name "GitLab CI Docs Bot"
      git add docs/
      if ! git diff --cached --quiet; then
        git checkout main
        git remote set-url origin "http://gitlab_ci_token:${DOCS_KEY}@192.168.86.4:8929/jonahmakowski/pyWrskp.git"
        git pull
        git commit -m "ðŸ¤– Auto-generate docs for latest changes"
        git push
      else
        echo "No changes to commit."
      fi
  rules:
    - changes:
        - "**/*.py"  # Runs only when Python files change

Added another useful function
  src/helpfulPackage/app/pyWrkspPackage/variable_management.py
  src/helpfulPackage/setup.py
Due: build_package, generate_docs

🤖 Auto-generate docs for latest changes
  docs/ai_docs/helpfulPackage/app/pyWrkspPackage/variable_management.md
  docs/ai_docs/helpfulPackage/setup.md
Due: none

Didn't build properly for some reason
  src/helpfulPackage/app/pyWrkspPackage/variable_management.py
  src/helpfulPackage/setup.py
Due: build_package, generate_docs

Improved the prompt for ai generated docs, hopefully this will improve them.
  .gitlab-ci.yml
  src/docGeneration/generate.py
  src/docGeneration/prompt.md
Due: generate_docs

Put this in the wrong spot
  .gitlab-ci.yml
  src/docGeneration/generate.py
Due: generate_docs

Fixing an error
  .gitlab-ci.yml
  src/docGeneration/generate.py
Due: generate_docs

I missed a dash
  .gitlab-ci.yml
  src/docGeneration/generate.py
Due: generate_docs

Fixed a bug
  .gitlab-ci.yml
  src/docGeneration/generate.py
Due: generate_docs

Fixed an error
  .gitlab-ci.yml
  src/docGeneration/generate.py
Due: generate_docs

Tried to fix an error
  .gitlab-ci.yml
  src/docGeneration/generate.py
Due: generate_docs

Relative path doesn't work
  src/docGeneration/generate.py
Due: generate_docs

🤖 Auto-generate docs for latest changes
  docs/ai_docs/docGeneration/generate.md
Due: none

Copied from the Voice Assistant repo
  src/newVoiceAssistant/README.md
  src/newVoiceAssistant/__init__.py
  src/newVoiceAssistant/audio/__init__.py
  src/newVoiceAssistant/audio/speaking.py
  src/newVoiceAssistant/audio/voiceRecognition.py
  src/newVoiceAssistant/commands/__init__.py
  src/newVoiceAssistant/commands/image_generation.py
  src/newVoiceAssistant/commands/mac/__init__.py
  src/newVoiceAssistant/commands/mac/appUtils.py
  src/newVoiceAssistant/commands/mac/openApp.py
  src/newVoiceAssistant/commands/mac/openDirectoryInFiles.py
  src/newVoiceAssistant/commands/mac/openFile.py
  src/newVoiceAssistant/commands/mac/playPause.py
  src/newVoiceAssistant/commands/mac/runTerminalCommand.py
  src/newVoiceAssistant/commands/webBrowser.py
  src/newVoiceAssistant/details.txt
  src/newVoiceAssistant/helpers/__init__.py
  src/newVoiceAssistant/helpers/getDetails.py
  src/newVoiceAssistant/helpers/removeKeyword.py
  src/newVoiceAssistant/llama_ai.py
  src/newVoiceAssistant/main.py
Due: generate_docs

Tried to do something, didn't really work.
  src/claudeAPI/main.py
Due: generate_docs

🤖 Auto-generate docs for latest changes
  docs/ai_docs/claudeAPI/main.md
Due: none

Upgraded the doc generation to use an external api
  .gitlab-ci.yml
  src/docGeneration/generate.py
Due: generate_docs

Made the voice assistant work with the new api system
  src/newVoiceAssistant/commands/image_generation.py
  src/newVoiceAssistant/commands/mac/openApp.py
  src/newVoiceAssistant/llama_ai.py
  src/newVoiceAssistant/main.py
Due: generate_docs

🤖 Auto-generate docs for latest changes
  docs/ai_docs/newVoiceAssistant/commands/mac/openApp.md
  docs/ai_docs/newVoiceAssistant/llama_ai.md
  docs/ai_docs/newVoiceAssistant/main.md
Due: none
