Repository jonahmakowski/PyWrskp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: python_black, build_package, generate_docs

python_black:
  image: python:alpine
  stage: format
  before_script:
  - pip install black
  script:
  - apk add --no-cache git
  - git checkout main
  - git remote set-url origin "http://gitlab_ci_token:${DOCS_KEY}@192.168.86.4:8929/jonahmakowski/pyWrskp.git"
  - git pull
  - echo "Running Black for code formatting..."
  ...

build_package:
  image: python:alpine
  stage: build
  variables:
    TWINE_USERNAME: gitlab-ci-token
    TWINE_PASSWORD: $CI_JOB_TOKEN
  script:
  - cd src/helpfulPackage
  - pip install --upgrade pip
  - pip install setuptools wheel
  - python setup.py bdist_wheel sdist
  - pip install .[dev]
  - twine check dist/*
  ...

generate_docs:
  image: python:alpine
  stage: docs
  variables:
    GIT_DEPTH: 0
  before_script:
  - pip install openai
  - pip install --upgrade pyWrkspPackage --trusted-host 192.168.86.4 --index-url http://192.168.86.4:8929/api/v4/projects/4/packages/pypi/simple
  - apk add git
  script:
  - export API_KEY=${AI_API_KEY}
  ...

🤖 Auto-generated Modifications and Docs for latest changes
  docs/ai_docs/godot-card-game-preproccessing/activity_words.md
  docs/ai_docs/schoolRelated/ComputerScience/Sep5/snoppy/main.cpp.md
  python_changes.patch
Due: none

Adds BMI calculation and categorization
  src/schoolRelated/ComputerScience/Sep5/snoppy/main
  src/schoolRelated/ComputerScience/Sep5/snoppy/main.cpp
  src/schoolRelated/ComputerScience/Sep5/snoppy/main.dSYM/Contents/Resources/DWARF/main
Due: none

🤖 Auto-generated Modifications and Docs for latest changes
  docs/ai_docs/schoolRelated/ComputerScience/Sep5/snoppy/main.cpp.md
Due: none

Fixes BMI calculation and weight input
  src/schoolRelated/ComputerScience/Sep5/snoppy/main
  src/schoolRelated/ComputerScience/Sep5/snoppy/main.cpp
  src/schoolRelated/ComputerScience/Sep5/snoppy/main.dSYM/Contents/Resources/DWARF/main
Due: none

Adds math and price calculation programs
  src/schoolRelated/ComputerScience/Sep8/math/main
  src/schoolRelated/ComputerScience/Sep8/math/main.cpp
  src/schoolRelated/ComputerScience/Sep8/math/main.dSYM/Contents/Info.plist
  src/schoolRelated/ComputerScience/Sep8/math/main.dSYM/Contents/Resources/DWARF/main
  src/schoolRelated/ComputerScience/Sep8/math/main.dSYM/Contents/Resources/Relocations/aarch64/main.yml
  src/schoolRelated/ComputerScience/Sep8/prices/main.cpp
  src/schoolRelated/ComputerScience/Sep8/to_be_fixed/main.cpp
Due: none

🤖 Auto-generated Modifications and Docs for latest changes
  docs/ai_docs/schoolRelated/ComputerScience/Sep5/snoppy/main.cpp.md
  docs/ai_docs/schoolRelated/ComputerScience/Sep8/math/main.cpp.md
  docs/ai_docs/schoolRelated/ComputerScience/Sep8/prices/main.cpp.md
  docs/ai_docs/schoolRelated/ComputerScience/Sep8/to_be_fixed/main.cpp.md
Due: none

Modfied to match specifications from my teacher
  src/schoolRelated/ComputerScience/Sep5/snoppy/main.cpp
Due: none

Made a simple code with input/output
  src/schoolRelated/ComputerScience/Sep10/strings/main
  src/schoolRelated/ComputerScience/Sep10/strings/main.cpp
  src/schoolRelated/ComputerScience/Sep10/strings/main.dSYM/Contents/Info.plist
  src/schoolRelated/ComputerScience/Sep10/strings/main.dSYM/Contents/Resources/DWARF/main
  src/schoolRelated/ComputerScience/Sep10/strings/main.dSYM/Contents/Resources/Relocations/aarch64/main.yml
Due: none

🤖 Auto-generated Modifications and Docs for latest changes
  docs/ai_docs/schoolRelated/ComputerScience/Sep10/strings/main.cpp.md
  docs/ai_docs/schoolRelated/ComputerScience/Sep5/snoppy/main.cpp.md
Due: none

Funny Headlines Project
  src/schoolRelated/ComputerScience/Sep10/funny_headlines/main
  src/schoolRelated/ComputerScience/Sep10/funny_headlines/main.cpp
  src/schoolRelated/ComputerScience/Sep10/funny_headlines/main.dSYM/Contents/Info.plist
  src/schoolRelated/ComputerScience/Sep10/funny_headlines/main.dSYM/Contents/Resources/DWARF/main
  src/schoolRelated/ComputerScience/Sep10/funny_headlines/main.dSYM/Contents/Resources/Relocations/aarch64/main.yml
Due: none

🤖 Auto-generated Modifications and Docs for latest changes
  docs/ai_docs/schoolRelated/ComputerScience/Sep10/strings/main.cpp.md
Due: none

Finished Funny Headlines Project
  src/schoolRelated/ComputerScience/Sep10/funny_headlines/main
  src/schoolRelated/ComputerScience/Sep10/funny_headlines/main.cpp
  src/schoolRelated/ComputerScience/Sep10/funny_headlines/main.dSYM/Contents/Resources/DWARF/main
Due: none

🤖 Auto-generated Modifications and Docs for latest changes
  docs/ai_docs/schoolRelated/ComputerScience/Sep10/funny_headlines/main.cpp.md
Due: none

Added more specific instructions for the inputs
  src/schoolRelated/ComputerScience/Sep10/funny_headlines/main
  src/schoolRelated/ComputerScience/Sep10/funny_headlines/main.cpp
  src/schoolRelated/ComputerScience/Sep10/funny_headlines/main.dSYM/Contents/Resources/DWARF/main
Due: none

Did some more work for computer science course
  src/schoolRelated/ComputerScience/Sep12/math/main
  src/schoolRelated/ComputerScience/Sep12/math/main.cpp
  src/schoolRelated/ComputerScience/Sep12/math/main.dSYM/Contents/Info.plist
  src/schoolRelated/ComputerScience/Sep12/math/main.dSYM/Contents/Resources/DWARF/main
  src/schoolRelated/ComputerScience/Sep12/math/main.dSYM/Contents/Resources/Relocations/aarch64/main.yml
  src/schoolRelated/ComputerScience/Sep12/mathfunctions/main
  src/schoolRelated/ComputerScience/Sep12/mathfunctions/main.cpp
  src/schoolRelated/ComputerScience/Sep12/mathfunctions/main.dSYM/Contents/Info.plist
  src/schoolRelated/ComputerScience/Sep12/mathfunctions/main.dSYM/Contents/Resources/DWARF/main
  src/schoolRelated/ComputerScience/Sep12/mathfunctions/main.dSYM/Contents/Resources/Relocations/aarch64/main.yml
Due: none

🤖 Auto-generated Modifications and Docs for latest changes
  docs/ai_docs/schoolRelated/ComputerScience/Sep10/funny_headlines/main.cpp.md
  docs/ai_docs/schoolRelated/ComputerScience/Sep12/math/main.cpp.md
  docs/ai_docs/schoolRelated/ComputerScience/Sep12/mathfunctions/main.cpp.md
Due: none

🤖 Auto-generated Modifications and Docs for latest changes
  docs/ai_docs/brotato-style-game/Game/Coin/coin.markdown
  docs/ai_docs/brotato-style-game/Game/Enemies/enemy.markdown
  docs/ai_docs/brotato-style-game/Game/Enemies/enemy_arrow.markdown
  docs/ai_docs/brotato-style-game/Game/Enemies/enemy_spawner.markdown
  docs/ai_docs/brotato-style-game/Game/Helpers/scenes.markdown
  docs/ai_docs/brotato-style-game/Game/Helpers/stats.markdown
  docs/ai_docs/brotato-style-game/Game/Levels/death.markdown
  docs/ai_docs/brotato-style-game/Game/Levels/level_1.markdown
  docs/ai_docs/brotato-style-game/Game/Levels/start_screen.markdown
  docs/ai_docs/brotato-style-game/Game/Player/player.markdown
  docs/ai_docs/brotato-style-game/Game/Player/player_arrow.markdown
  docs/ai_docs/brotato-style-game/Game/Player/player_weapon.markdown
  docs/ai_docs/brotato-style-game/Game/Player/weapon_container.markdown
  docs/ai_docs/schoolRelated/ComputerScience/Sep12/math/main.cpp.md
  docs/ai_docs/schoolRelated/ComputerScience/Sep12/mathfunctions/main.cpp.md
Due: none

Adds upgrade system and level timer
  src/brotato-style-game/Game/Helpers/scenes.gd
  src/brotato-style-game/Game/Helpers/scenes.tscn
  src/brotato-style-game/Game/Helpers/stats.gd
  src/brotato-style-game/Game/Helpers/upgrades.gd
  src/brotato-style-game/Game/Helpers/upgrades.gd.uid
  src/brotato-style-game/Game/Helpers/upgrades.tscn
  src/brotato-style-game/Game/Levels/level_1.gd
  src/brotato-style-game/Game/Levels/level_1.tscn
  src/brotato-style-game/Game/Player/player.gd
  src/brotato-style-game/Game/Player/player.tscn
  src/brotato-style-game/Game/Player/player_weapon.gd
  src/brotato-style-game/Game/Player/player_weapon.tscn
  src/brotato-style-game/Game/Player/weapon_container.gd
  src/brotato-style-game/Game/UIScenes/death.gd
  src/brotato-style-game/Game/UIScenes/death.gd.uid
  src/brotato-style-game/Game/UIScenes/death.tscn
  src/brotato-style-game/Game/UIScenes/start_screen.gd
  src/brotato-style-game/Game/UIScenes/start_screen.gd.uid
  src/brotato-style-game/Game/UIScenes/start_screen.tscn
  src/brotato-style-game/Game/UIScenes/stats_display.gd
  src/brotato-style-game/Game/UIScenes/stats_display.gd.uid
  src/brotato-style-game/Game/UIScenes/stats_display.tscn
  src/brotato-style-game/Game/UIScenes/upgrade_selection.gd
  src/brotato-style-game/Game/UIScenes/upgrade_selection.gd.uid
  src/brotato-style-game/Game/UIScenes/upgrade_selection.tscn
  src/brotato-style-game/Game/UIScenes/upgrade_selection_helper.gd
  src/brotato-style-game/Game/UIScenes/upgrade_selection_helper.gd.uid
  src/brotato-style-game/Game/UIScenes/upgrade_selection_helper.tscn
  src/brotato-style-game/Game/UpgradeSystem/upgrade_class.gd
  src/brotato-style-game/Game/UpgradeSystem/upgrade_class.gd.uid
  src/brotato-style-game/Resources/Upgrades/slightly_faster_spin.tres
  src/brotato-style-game/icon.svg.import
  src/brotato-style-game/project.godot
Due: generate_docs

🤖 Auto-generated Modifications and Docs for latest changes
  docs/ai_docs/brotato-style-game/Game/Helpers/scenes.markdown
  docs/ai_docs/brotato-style-game/Game/Helpers/stats.markdown
  docs/ai_docs/brotato-style-game/Game/Helpers/upgrades.markdown
  docs/ai_docs/brotato-style-game/Game/Levels/level_1.markdown
  docs/ai_docs/brotato-style-game/Game/Player/player.markdown
  docs/ai_docs/brotato-style-game/Game/Player/player_weapon.markdown
  docs/ai_docs/brotato-style-game/Game/Player/weapon_container.markdown
  docs/ai_docs/brotato-style-game/Game/UIScenes/death.markdown
  docs/ai_docs/brotato-style-game/Game/UIScenes/start_screen.markdown
  docs/ai_docs/brotato-style-game/Game/UIScenes/stats_display.markdown
  docs/ai_docs/brotato-style-game/Game/UIScenes/upgrade_selection.markdown
  docs/ai_docs/brotato-style-game/Game/UIScenes/upgrade_selection_helper.markdown
  docs/ai_docs/brotato-style-game/Game/UpgradeSystem/upgrade_class.markdown
Due: none

Adds damage upgrade and refactors stat changes
  src/brotato-style-game/Game/Helpers/upgrades.gd
  src/brotato-style-game/Game/Helpers/upgrades.tscn
  src/brotato-style-game/Game/UpgradeSystem/stat_changes_class.gd
  src/brotato-style-game/Game/UpgradeSystem/stat_changes_class.gd.uid
  src/brotato-style-game/Game/UpgradeSystem/upgrade_class.gd
  src/brotato-style-game/Resources/Upgrades/deal_slightly_more_damage.tres
  src/brotato-style-game/Resources/Upgrades/slightly_faster_spin.tres
Due: generate_docs

🤖 Auto-generated Modifications and Docs for latest changes
  docs/ai_docs/brotato-style-game/Game/Helpers/upgrades.markdown
  docs/ai_docs/brotato-style-game/Game/UpgradeSystem/stat_changes_class.markdown
  docs/ai_docs/brotato-style-game/Game/UpgradeSystem/upgrade_class.markdown
Due: none

Refactors weapon system to use resource-based approach
  src/brotato-style-game/Game/Player/player.tscn
  src/brotato-style-game/Game/Player/player_weapon.gd
  src/brotato-style-game/Game/Player/player_weapon.tscn
  src/brotato-style-game/Game/Player/weapon_resource.gd
  src/brotato-style-game/Game/Player/weapon_resource.gd.uid
  src/brotato-style-game/Resources/Weapons/WeaponSpriteFrames/WoodenBasicBow.tres
  src/brotato-style-game/Resources/Weapons/WeaponSpriteFrames/WoodenClub.tres
  src/brotato-style-game/Resources/Weapons/WeaponSpriteFrames/WoodenSword.tres
  src/brotato-style-game/Resources/Weapons/WoodenBasicBow.tres
  src/brotato-style-game/Resources/Weapons/WoodenClub.tres
  src/brotato-style-game/Resources/Weapons/WoodenSword.tres
Due: generate_docs

🤖 Auto-generated Modifications and Docs for latest changes
  docs/ai_docs/brotato-style-game/Game/Player/player_weapon.markdown
  docs/ai_docs/brotato-style-game/Game/Player/weapon_resource.markdown
Due: none

Adds weapon system and shop functionality
  src/brotato-style-game/Game/Coin/coin.gd
  src/brotato-style-game/Game/Enemies/enemy.gd
  src/brotato-style-game/Game/Enemies/enemy_arrow.gd
  src/brotato-style-game/Game/Helpers/scenes.gd
  src/brotato-style-game/Game/Helpers/scenes.tscn
  src/brotato-style-game/Game/Helpers/stats.gd
  src/brotato-style-game/Game/Helpers/stats.tscn
  src/brotato-style-game/Game/Player/player.gd
  src/brotato-style-game/Game/Player/player.tscn
  src/brotato-style-game/Game/Player/player_arrow.gd
  src/brotato-style-game/Game/Player/player_weapon.gd
  src/brotato-style-game/Game/Player/weapon_resource.gd
  src/brotato-style-game/Game/UIScenes/shop.gd
  src/brotato-style-game/Game/UIScenes/shop.gd.uid
  src/brotato-style-game/Game/UIScenes/shop.tscn
  src/brotato-style-game/Game/UIScenes/stats_display.gd
  src/brotato-style-game/Game/UpgradeSystem/upgrade_class.gd
  src/brotato-style-game/Resources/Weapons/SpriteFrames/WoodenBasicBow.tres
  src/brotato-style-game/Resources/Weapons/SpriteFrames/WoodenClub.tres
  src/brotato-style-game/Resources/Weapons/SpriteFrames/WoodenSword.tres
  src/brotato-style-game/Resources/Weapons/WoodenBasicBow.tres
  src/brotato-style-game/Resources/Weapons/WoodenClub.tres
  src/brotato-style-game/Resources/Weapons/WoodenSword.tres
  src/temp.py
Due: python_black, generate_docs

🤖 Auto-generated Modifications and Docs for latest changes
  docs/ai_docs/brotato-style-game/Game/Coin/coin.markdown
  docs/ai_docs/brotato-style-game/Game/Enemies/enemy.markdown
  docs/ai_docs/brotato-style-game/Game/Enemies/enemy_arrow.markdown
  docs/ai_docs/brotato-style-game/Game/Helpers/scenes.markdown
  docs/ai_docs/brotato-style-game/Game/Helpers/stats.markdown
  docs/ai_docs/brotato-style-game/Game/Player/player.markdown
  docs/ai_docs/brotato-style-game/Game/Player/player_arrow.markdown
  docs/ai_docs/brotato-style-game/Game/Player/player_weapon.markdown
  docs/ai_docs/brotato-style-game/Game/Player/weapon_resource.markdown
  docs/ai_docs/brotato-style-game/Game/UIScenes/shop.markdown
  docs/ai_docs/brotato-style-game/Game/UIScenes/stats_display.markdown
  docs/ai_docs/brotato-style-game/Game/UpgradeSystem/upgrade_class.markdown
Due: none

Adds weapon shop and enemy targeting system
  src/brotato-style-game/Game/Enemies/enemy.gd
  src/brotato-style-game/Game/Enemies/enemy.tscn
  src/brotato-style-game/Game/Helpers/scenes.gd
  src/brotato-style-game/Game/Helpers/scenes.tscn
  src/brotato-style-game/Game/Helpers/stats.gd
  src/brotato-style-game/Game/Player/player_weapon.gd
  src/brotato-style-game/Game/Player/player_weapon.tscn
  src/brotato-style-game/Game/Player/weapon_resource.gd
  src/brotato-style-game/Game/Shop/coin_label.gd
  src/brotato-style-game/Game/Shop/coin_label.gd.uid
  src/brotato-style-game/Game/Shop/shop.gd
  src/brotato-style-game/Game/Shop/shop.gd.uid
  src/brotato-style-game/Game/Shop/shop.tscn
  src/brotato-style-game/Game/Shop/weapon_selection.gd
  src/brotato-style-game/Game/Shop/weapon_selection.gd.uid
  src/brotato-style-game/Game/Shop/weapon_selection.tscn
  src/brotato-style-game/Game/Shop/weapon_selling.gd
  src/brotato-style-game/Game/Shop/weapon_selling.gd.uid
  src/brotato-style-game/Game/Shop/weapon_selling.tscn
  src/brotato-style-game/Game/UIScenes/shop.gd
  src/brotato-style-game/Game/UIScenes/shop.tscn
  src/brotato-style-game/Game/UIScenes/upgrade_selection.gd
  src/brotato-style-game/Resources/Weapons/WoodenBasicBow.tres
  src/brotato-style-game/Resources/Weapons/WoodenClub.tres
  src/brotato-style-game/Resources/Weapons/WoodenSword.tres
  src/schoolRelated/ComputerScience/Sep18/subwayassignment1/main
  src/schoolRelated/ComputerScience/Sep18/subwayassignment1/main.cpp
  src/schoolRelated/ComputerScience/Sep18/subwayassignment1/main.dSYM/Contents/Info.plist
  src/schoolRelated/ComputerScience/Sep18/subwayassignment1/main.dSYM/Contents/Resources/DWARF/main
  src/schoolRelated/ComputerScience/Sep18/subwayassignment1/main.dSYM/Contents/Resources/Relocations/aarch64/main.yml
Due: generate_docs

🤖 Auto-generated Modifications and Docs for latest changes
  docs/ai_docs/brotato-style-game/Game/UIScenes/shop.markdown
Due: none

Expands game progression system
  src/brotato-style-game/Game/Helpers/stats.gd
  src/brotato-style-game/Game/Helpers/upgrades.gd
  src/brotato-style-game/Game/Helpers/upgrades.tscn
  src/brotato-style-game/Game/Levels/level_1.tscn
  src/brotato-style-game/Game/Player/player.gd
  src/brotato-style-game/Game/Player/player.tscn
  src/brotato-style-game/Game/Shop/shop.gd
  src/brotato-style-game/Resources/Upgrades/heal_slightly_faster.tres
Due: generate_docs

Reduces level difficulty and simplifies upgrade system
  src/brotato-style-game/Game/Helpers/stats.gd
  src/brotato-style-game/Game/Helpers/upgrades.gd
  src/brotato-style-game/Game/Helpers/upgrades.tscn
  src/brotato-style-game/Game/Levels/level_1.tscn
  src/brotato-style-game/Game/Player/player.gd
  src/brotato-style-game/Game/Player/player.tscn
  src/brotato-style-game/Game/Shop/shop.gd
  src/brotato-style-game/Resources/Upgrades/heal_slightly_faster.tres
Due: generate_docs

Revert "Reduces level difficulty and simplifies upgrade system"
  src/brotato-style-game/Game/Helpers/stats.gd
  src/brotato-style-game/Game/Helpers/upgrades.gd
  src/brotato-style-game/Game/Helpers/upgrades.tscn
  src/brotato-style-game/Game/Levels/level_1.tscn
  src/brotato-style-game/Game/Player/player.gd
  src/brotato-style-game/Game/Player/player.tscn
  src/brotato-style-game/Game/Shop/shop.gd
  src/brotato-style-game/Resources/Upgrades/heal_slightly_faster.tres
Due: generate_docs

🤖 Auto-generated Modifications and Docs for latest changes
  docs/ai_docs/brotato-style-game/Game/Helpers/stats.markdown
  docs/ai_docs/brotato-style-game/Game/Helpers/upgrades.markdown
  docs/ai_docs/brotato-style-game/Game/Player/player.markdown
  docs/ai_docs/brotato-style-game/Game/Shop/shop.markdown
Due: none

Adds random number generator and Yahtzee simulator
  src/schoolRelated/ComputerScience/Sep19/randomnumbers/main
  src/schoolRelated/ComputerScience/Sep19/randomnumbers/main.cpp
  src/schoolRelated/ComputerScience/Sep19/randomnumbers/main.dSYM/Contents/Info.plist
  src/schoolRelated/ComputerScience/Sep19/randomnumbers/main.dSYM/Contents/Resources/DWARF/main
  src/schoolRelated/ComputerScience/Sep19/randomnumbers/main.dSYM/Contents/Resources/Relocations/aarch64/main.yml
  src/schoolRelated/ComputerScience/Sep19/yahtzee/main
  src/schoolRelated/ComputerScience/Sep19/yahtzee/main.cpp
  src/schoolRelated/ComputerScience/Sep19/yahtzee/main.dSYM/Contents/Info.plist
  src/schoolRelated/ComputerScience/Sep19/yahtzee/main.dSYM/Contents/Resources/DWARF/main
  src/schoolRelated/ComputerScience/Sep19/yahtzee/main.dSYM/Contents/Resources/Relocations/aarch64/main.yml
Due: none

🤖 Auto-generated Modifications and Docs for latest changes
  docs/ai_docs/schoolRelated/ComputerScience/Sep19/randomnumbers/main.cpp.md
  docs/ai_docs/schoolRelated/ComputerScience/Sep19/yahtzee/main.cpp.md
Due: none

Adds display-friendly stat names
  src/brotato-style-game/Game/Helpers/stats.gd
  src/brotato-style-game/Game/UIScenes/stats_display.gd
  src/brotato-style-game/Game/UIScenes/stats_display.tscn
Due: generate_docs

🤖 Auto-generated Modifications and Docs for latest changes
  docs/ai_docs/brotato-style-game/Game/Helpers/stats.markdown
  docs/ai_docs/brotato-style-game/Game/UIScenes/stats_display.markdown
  docs/ai_docs/schoolRelated/ComputerScience/Sep19/randomnumbers/main.cpp.md
  docs/ai_docs/schoolRelated/ComputerScience/Sep19/yahtzee/main.cpp.md
Due: none

Refactors enemy spawning and weapon system
  src/brotato-style-game/Game/Enemies/enemy_spawner.gd
  src/brotato-style-game/Game/Helpers/stats.gd
  src/brotato-style-game/Game/Helpers/stats.tscn
  src/brotato-style-game/Game/Helpers/upgrades.tscn
  src/brotato-style-game/Game/Player/player_weapon.gd
  src/brotato-style-game/Game/Player/weapon_resource.gd
  src/brotato-style-game/Game/Shop/shop.gd
  src/brotato-style-game/Game/Shop/shop.tscn
  src/brotato-style-game/Game/Shop/weapon_selection.gd
  src/brotato-style-game/Game/Shop/weapon_selling.gd
  src/brotato-style-game/Game/Shop/weapon_selling.tscn
  src/brotato-style-game/Resources/Upgrades/1 - Common/common_damage.tres
  src/brotato-style-game/Resources/Upgrades/1 - Common/common_health_regen.tres
  src/brotato-style-game/Resources/Upgrades/1 - Common/common_max_health.tres
  src/brotato-style-game/Resources/Upgrades/1 - Common/common_spin.tres
  src/brotato-style-game/Resources/Upgrades/2 - Uncommon/uncommon_damage.tres
  src/brotato-style-game/Resources/Upgrades/2 - Uncommon/uncommon_health_regen.tres
  src/brotato-style-game/Resources/Upgrades/2 - Uncommon/uncommon_max_health.tres
  src/brotato-style-game/Resources/Upgrades/2 - Uncommon/uncommon_piercing.tres
  src/brotato-style-game/Resources/Upgrades/2 - Uncommon/uncommon_spin.tres
  src/brotato-style-game/Resources/Upgrades/3 - Rare/rare_weapon_max_count.tres
  src/brotato-style-game/Resources/Weapons/WoodenClub.tres
Due: generate_docs

Path conditions:
  python_black: any of: **/*.py
  build_package: any of: src/helpfulPackage/setup.py
  generate_docs: any of: **/*.py, **/*.gd
