Repository jonahmakowski/PyWrskp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: python_black, build_package, generate_docs

Path conditions:
  python_black: any of: **/*.py
  build_package: any of: src/helpfulPackage/setup.py
  generate_docs: any of: **/*.py, **/*.gd

Add initial implementation for 'which_loads_faster' project
  src/rust/learning_rust/async/Cargo.lock
  src/rust/learning_rust/async/Cargo.toml
  src/rust/learning_rust/async/src/main.rs
  src/rust/learning_rust/which_loads_faster/Cargo.lock
  src/rust/learning_rust/which_loads_faster/Cargo.toml
  src/rust/learning_rust/which_loads_faster/src/main.rs
Due: none

Refactor CI configuration and improve Rust project structure
  .gitlab-ci.yml
  src/rust/learning_rust/async/src/main.rs
  src/rust/learning_rust/guessing_game/src/main.rs
  src/rust/learning_rust/password_gen/src/main.rs
  src/rust/learning_rust/simple_website/src/lib.rs
  src/rust/learning_rust/simple_website/src/main.rs
  src/rust/learning_rust/which_loads_faster/src/main.rs
  src/rust/rust_formatter/Cargo.lock
  src/rust/rust_formatter/Cargo.toml
  src/rust/rust_formatter/src/main.rs
Due: none

Accidently put everything in the before_script section
  .gitlab-ci.yml
  src/rust/rust_formatter/src/main.rs
Due: none

Add rustfmt component to rust_formatter stage
  .gitlab-ci.yml
  src/rust/rust_formatter/src/main.rs
Due: none

Fix rust_formatter script to navigate back to the root directory after running rustfmt
  .gitlab-ci.yml
  src/rust/rust_formatter/src/main.rs
Due: none

Update rust_formatter to run in release mode and pull from GitLab
  .gitlab-ci.yml
  src/rust/rust_formatter/src/main.rs
Due: none

Fix commit_and_push script to correctly pull changes and remove redundant remote URL setting
  .gitlab-ci.yml
  src/rust/rust_formatter/src/main.rs
Due: none

🤖 Auto-generated Modifications and Docs for latest changes
  src/rust/rust_formatter/src/main.rs
Due: none

Realized that was already there
  src/rust/rust_formatter/src/main.rs
Due: none

Edit requirements.txt
  src/obsidianDataSQL/requirements.txt
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Add enemy character and implement movement logic; update character and death zone properties
  src/godot/platformer/scenes/character.tscn
  src/godot/platformer/scenes/death_zone.tscn
  src/godot/platformer/scenes/enemy.tscn
  src/godot/platformer/scenes/main.tscn
  src/godot/platformer/scripts/character.gd
  src/godot/platformer/scripts/death_zone.gd
  src/godot/platformer/scripts/enemy.gd
Due: generate_docs

Filter out rows with None ratings before pushing to MySQL
  src/obsidianDataSQL/obisidian_to_SQL.py
Due: python_black, generate_docs

🤖 Auto-generated Modifications and Docs for latest changes
  src/obsidianDataSQL/obisidian_to_SQL.py
Due: python_black, generate_docs

Fixes property name in data filtering
  src/obsidianDataSQL/obisidian_to_SQL.py
Due: python_black, generate_docs

Add audio recording, transcription, summarization, and email functionality
  src/schoolRelated/missionInnovation/main.py
  src/schoolRelated/missionInnovation/prompt.md
Due: python_black, generate_docs

Refactor clipboard handling to use read_clipboard instead of paste
  src/voiceAssistants/newVoiceAssistant/main.py
Due: python_black, generate_docs

Add initial web scraper implementation with dependencies
  src/rust/web_scraper/Cargo.lock
  src/rust/web_scraper/Cargo.toml
  src/rust/web_scraper/src/main.rs
Due: none

🤖 Auto-generated Modifications and Docs for latest changes
  src/rust/web_scraper/src/main.rs
  src/schoolRelated/missionInnovation/main.py
Due: python_black, generate_docs
